<tw-storydata name="t.ERMINAL" startnode="1" creator="Twine" creator-version="2.2.1" ifid="5627649A-5B0B-4435-91AE-E9A92412D552" zoom="0.6" format="SugarCube" format-version="2.21.0" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css">.terminal {
background-color: black;
color: #49fb35;
font-family: "Times New Roman", Times, serif;

}

a:link {
    color: #49fb35;
}

/* visited link */
a:visited {
    color: #49fb35;
}

/* mouse over link */
a:hover {
    color: #49fb35;
}

/* selected link */
a:active {
    color: #49fb35;
}

a {
  color: #49fb35;
}

.terminalface {
 background-color: black;
color: #49fb35;
font-family: "Times New Roman", Times, serif;
}

.vent a {
 color: white;
}

.vent a:link {
 color: white;
}

.vent a:hover {
 color: green;
}

.vent a:visited {
 color: white;
}

.vent a:active {
 color: white;
}

.monster {
background-color: black;
color: #ff0101;
font-family: "Times New Roman", Times, serif;
}







</style><script role="script" id="twine-user-script" type="text/twine-javascript">


</script><tw-passagedata pid="1" name="Beginning" tags="" position="405.3333333333333,185" size="100,100">You wake up.

You are in a room, a old fan is running in the corner. There are not any windows.

You are alone.

You look around the room and you see two doors:


You open the [[door on the left|next room]]

You open the [[door on the right|the door on the right]]</tw-passagedata><tw-passagedata pid="2" name="next room" tags="" position="375.3333333333333,354.3333333333333" size="100,100">The door is locked, you need a key.


[[Back|Beginning]]</tw-passagedata><tw-passagedata pid="3" name="the door on the right" tags="" position="585,203" size="100,100">You look around the room, a bookshelf..with no books?

There is a desk, nothing.

Wait, what&#39;s that on the desk?

You see a [[key|key]]

</tw-passagedata><tw-passagedata pid="4" name="key" tags="" position="769,201" size="100,100">You take the key, this can be used somewhere...


[[You look around the room|Beginning unlocked]]</tw-passagedata><tw-passagedata pid="5" name="next room unlocked" tags="" position="542,362" size="100,100">You unlock the door, it worked.

You look around the room...
you see:

You see a terminal, [[go to the terminal|terminal]]
You see a lever,  [[switch the lever|lever]]

There is also a [[door|locked door next room unlocked]]</tw-passagedata><tw-passagedata pid="6" name="terminal" tags="terminal" position="473,530" size="100,100">The terminal is locked. It needs to be turned on with a switch of some sort.

[[You look around the room|next room unlocked]]</tw-passagedata><tw-passagedata pid="7" name="lever" tags="" position="617,512" size="100,100">The lever seems to have unlocked the terminal, [[Go to the terminal|terminal unlocked]]
</tw-passagedata><tw-passagedata pid="8" name="terminal unlocked" tags="terminal" position="617,662" size="100,100">TERMINAL NEEDS PASSCODE.


You do not know the passcode.

[[&gt;hack|hack]]

</tw-passagedata><tw-passagedata pid="9" name="hack" tags="terminal" position="617,812" size="100,100">	C:\ &gt;cd HAX
	
	DECRYPTING....
	
	

u̾̆̈ͬe̗̱̥̬͋͋͗ͪ͡q͋ͦ̐̄̎f̥̭ͣ̋ͯͭͨê̗̺̣̖̻͈͑ͭ̉ͦ̊̽͢a͉̗͖̖͉̗̋ͯ̏p̧͐̏̍o̟̞͕̊͂́͂ͮ̑͘p̣͚̩̗̜̳̼ͦv͈̪̯̙̻̈͘l̯̪̓̂͐̃ͮͥǹ̻̮̟͈̲͑ͮ̋ͩͮů͔̘̟̩́̋̽̿ͤͣg̠̗̜͉̎̇̆͢h̟̫̖̪̓o̷ͦͤt̗͓͍̘̆̆̂̉̓̔͡y̧͔̱̭̲͎̮͊ͨ̌hͭ̍o̭̯̰͂̂ͨͣh̛͖̺ͦͧ̂͑͒z͇͙̫̮k̮͓̯͙̻ͪ̂ͪ̄̿a̩͖̹̓v̊̍̐d͇̤̞̣̼͓ͨ̐̕m͍͍͑y̘͔͎̽̀̏n̵͓͙̘͆ͣ͛̈́m̫̭͕͕̳̔ͪ͋̑͠ͅt̠̲̼̩̺͇̔̎ͪẕ̣ͫ͐̾ͮ̈́̉tͩ̌҉͚n̴̂̐̽͗̃i̞̜͓̫̖̎͂̉ͣ̕m̞̫̦̞̼̖̭̑͆͡u͔ͩ̈ͣͦo̡̪̘̐u̥͗̇̓̒̿a̽̿͠q̣̦̯̖̓̌̄͆͗̄̍͘u̺̪͇̞͕̹̝ͫ̓͝j͈̲̣ͣg̜͎̬̙͉ͪͭͭ̊͛iͨ̈́m͖͂̌͢g̗͍̳͊͛m͎̯͔̖͘b͔̰͐ͭm̥͈̗̮̯̪̀ ̓ͨ͒̐̿ͤ͏̘̯̘̠͎ͅͅņ̗͉͎̯͇̟̓̇͂́̆̒ǘ͍̻͕͉̟̙̲̃͑́ȍ̳̹͚͇̜r̾͌j̺ͯͤͣ̿̂̿̅ẁ̔͡l̸̜̟̯͉͙̥̒̅ͯs͙̻ͥf͉̲̬ͣr͍͓̯ͫ̎͘ͅg̰̬̟̮̪͎̯x̻͎͛̌r̰ͯ̀ͤͯͫ̂̀t̨̞̘̪̭ͣͧ̇̊͌ͅx̴̥̜̐̆͒̃̾u͇̘̝̞ͫ͊̽̅̋̂̈́a̛̗̦̤̜̣̤͎ͦͬ͋ͥ͛o̮̠̦ͭ͜p͈͔̄̐ŝ̻͍͙̞̣́̄̉ȉ̬͖̩̙̬̠̀̇ͩ̚͢v̵̫̲̤͐̇ͨ̽̎͂͐ͅt͉̰͂̀ͫ̈ͥ̋ͅf̺̹̦̌̊̽z̰̭̰ͨ͛̏̿b̅͏̮͎͚̖q̮̹̻ͫ̀̚ư̰̭͍̠͍͚̞ͫ͐l̳̼q̘͔͎̹̫̫͔ͣͭf͓̞̝̃̊̋̄͘j͚̻̺͔̭͐̏́g̡̟ͥ͌ḱ̖̙̪̂͡k̙͆̿̑̔͜d̔ͪͮ͊ͥ҉̥͕̘̭͙d̨̜̗͓̠̭́͊ö̡͋̔ͬ̂h̦̜̮̟̮̝̘͐̈́ͭͥw̦͓̙͑̃ͮ̑͠ñ̠̺͔̟͇̪̋ͯ̉ͅtk̶̝͂ͯͣb̫͉̣̍͛̌ͣt̝͍̖̎̏̆̄͂̀g̼͎͂̒͒̂ͥ̒y͎̥͈̥ͭͯ̀ͨ̈́ͮ͟c̖͈v̭͎̱̱̼̆͒̓ͫ͑͡ǰ̣̤̋͑͌̇ ̔ͨ̓ͦ̈ͥ̚v̡̠͙̰̖̫ͭ̓ͅk͒̀x̘̮̠̮͈͍̊̍b̭̯̹́́̈͊b̳͈̹̭͓͌̀͆͑͒̑̈x͍̣ͦ̐͗̈́͗̽̚͝ȇ͔̲̚c̳̟̔̕l͇̯̬͔̜̺ą̥ͮz̬ͬ̈́́̋̿sj͍̖̰͕̘̺͒́ͩ̈́̓͐̕ͅk͉̘͚͔͖̼̀̎̄͋̾̀̚ͅz̴̩͇͍͖͕̜ͦ̿̒̓͌ͥ̒s͙͇ͦ̉̈n͚̬̬̟̰̫z̸̯̝͔b̜̃p̨̪̳͂̆͂͋͌̀i̝͍̯û̸̫͙̩͍̭̰̇ͦ̚h͎͊̃ͬ̊̑ġ̖͍̲̳͔̠̦͛ż̪̘̲̹͙͙͛̒w̘̬̝̠̦̳̳ͤ̿͆t̛͕͎͚w̜̙̖ͦ̋ͥ̏̌̌̇͝v̝͙̦̣̾̓̾g̱̫͇̰͙̭̪ͪẗ́̑̾ì̥͍̲͇̦k̳̞͞r͇͐͂̉͒ͥc͈͐y̳͙̤̫̹̝͔͑̌g͉͚̫̠̼̃̈́ͤ͢i̵̽̏͌̐j̫͇̬̩̼̲͈ṣ̼̞͍̻̙̠͆̅̚mä̮͉́́́͡x̝̱͓͕͌͗̄ñ̗̊̍͌ͧ̚b̹͔̎̀q̤̮͈͕̦͈͋ͩ̓͞ͅs̠ͨ̋̉́̎o̽ͬ̀̓̔ͣ̚͞u̶̫̘̤̼͛ͩͤd͔̜̺̺͔͖̓̈́͟ ͎̮͔̲̹̣̓c̙̲͇̯̐̉̈́̈̆͐s̡̯ͥ̎̅̊̐lͫͩͧ̍҉̙̟̦̳h̷͉̖̺͍̆ͧ̈́̍̌͆ͯb͜q̻͙̲͈u͔͙̦̰̤̲̗̕a͗́̽n̴̖̙̖̼̰̖̊̐͆͒ͪj̶̰̱͔͉̲ͩͯ̈g̳̙̓ͧͪ͜u̜̱͢kͩņ̩̭̰̠͈̥s̤̥̤̲͇̦͈̓ͨ̅͌̓̂͊t̪͖ͯ́̓̌ͣy̷̱̽̐ͮ̅̓t̬͔̹̘̐ͨ̀̚ͅc͍̳͂ͩ͋v̨͙̟ͧ͑̃͆ͬͧ͑ḏ͔̌ͭ̔̅̐͆ͬ̀u͗̊ͦ̌ͨͨ͒z̠̼̙͘ͅx͓̦̬̟̎̌ͨ͊͋̕ḙ̵͓͉͓ͤ̎̍̇̆̎̈́gi̸͚͈̻ͮͭ̈x͙̼͔̬͓̣͂̇͒ͪq̻̟̫̞͊̅̌̓ͦp͎͕̠̙͎͊̉͂̑ͅy̛͖̺̻̓̈ͅw͛̀͑̒͛̐[[password|password1]]̰j̘͇ͧ̽̈͋̃̕j͎͓ͤ̓̔̅ͩͤͭ͢ȍ͚̰̕g̨̖͕͚̲͚̤͈͌̾̈́̊s̻̥͐̓͊́̚w̥͉̳ͤͭ̈ͣͭ͢ņ͖͚̺̬̳̱͓ͤͭ́ͭ͐ͭ͗a̲̰̼͎̅̌̋͂̄h́͜l̲̥͊̃̾̄̋d̡ͪ̈͒ͫ̿ẁ̗̲̘̱͙̺̮̈͢f͙̻̫ͤͧ͂z̟̳͙̮̘̔̆͒̐͑͞k̗̯̭̪̞̓̈́ͤ̇͛̇̃ḁ̲͔ͮ̊̐ͯ͒ͧ̈́͘ ̲̺̝͓͋̇e̙̳̙͈͓̤͐͊̀̚i̦ͯ̓ͦ͋y̟͂́̓͂͗k͍̞̼ͭ͒̂̉ͨ̅͟ͅt͕̒ͥ͋͋͝s̸̩̮̩̊̔ͅg̢̖͇̝̼̤ͬ͗͋̔ͩ̂d̜̯͇ͅl̤̟̤͓̪̼͛̒͐j̖ͨ̓̈́ͩc̛̤̭̦͂̋ͩͅe̝̺̗̲͕͗̄͛̆̕x̶̃͐̑̓ͬ͒g͕͓̜̠̘͕zͫ̋͞a̟̺͔͜y͔͖̺͗ͨ̐͛̒̓̈r̭̲͓ͫ͒ͪ̕h̵͈̤̩͈̘̻̟ͦ̅ͣṱ͉̤̦͐̉͊ͥk̸̈́͂x̒́̔m͎͎ͅq̰̳͍̊ͮͤͯ̔̎͊́ȏ̭̙ͤ͋̍͊͗̚͡v̲̣͔̣͙͕̪͋h̫̮̝̦͈̼͚ͮ͗͂j̱͕̩̲̜̭͍͐̆̈́ͭͨ͑ơ͖̼ͭ̍̐͊̈̆ͧy̤̲͍͇̣r̩̲̰̠h̘͓͖̣͗̄̇̋̆ô̻͝ͅț̼̙̰̤̍̒̓̆q̥̯̹̘̺͚͐̊ͨz͎̊̿a͍̤̿̎ͣh͈̤͒̓ͮ̃k͕͕̼̮̼̑̀͂ͨͥ̿ͣͅẹ̣̘̮̌ủ͇ͯwͣͯ̐͘y̖͕̅̆̓͌p̖̫͙ͯͫ̈̀ḇ͋̒̊̕fͩ͒͐a̷͎͉̞ͨ͒̏̓x̘̦͇͉̣̾̓ͩd͕̳̼̯̤ͪͣͪͫq̹̤̭̓̇̔̎ ̰̼̝̯͉̻͙ͫ̈́b̮ͦ̓͂̌̂̆̕ͅz͔̣̫̱̤̙͂h͎̰͔̬͍͛̅ͧͤĺ̡͔͔̱̭͈͕̣̀̐ͪg̺̠̠̱ͬ͑̑̿̒̿ͤ̀g̲̫͋͋̽̈̓̾ṁ̸̪̮͎̼̮̭̒ḏ̔ͨ̋̚v̺͊̊x̝͍̝̘̮̪̜̾̄̾ͭu̮͙̟̬͙̰̦̎̈ͭ̑ͯ͊̕v̖͔͊̈͊ͥ͝i͚̞̯̹̬͈̻ͫ̇̃n̤̞̟ͮͬ̈́͜r̡̥͇͚͔̐̋ͪ̀̋̏̍j̜̟̲̺̑ͮ̐͒t̍u͔͕̖̣̕u̲͍̘̘̿̾ͦ́̚ḿ̪̞̤w̦͛̐͡ş͍̦̲͓̍r̡̍̂̀͛̔l̶̻̭͕̰̩͈̦u̯̙͚͉̫͆̔ͪͭ̋͐͋x̥̞͓̮̓ͤ̌́̚a͓̓ṭͨͩ̆̇cͩ̒̂͊̄̔̿͡q͉͈̺̘͉͕ͤͪͩͪ̌̎ͅg̝̳̈̒͝ͅyͮ͘jͭz̰͖ͥ͑͝j̴̥̳͙̰͆̽̿͂̋ͮ̚ͅw̎̒̚͏̜n͙̬̭̙̉̀c͕̤͙̱̼̩̔͠m͉͂̑e̒ͤͦ̒͏̻̱̭̣̜͎v͕̅̇̉̈̃͞ǔ̢̼͈̜ͧ̓ͬg̦̬͈̥̦̹̋̐q̢̓̈́͗͒̚t̮̺͚͕͈̪͊̾͐̚o̟̺̳ͅh̦͎̺̳̺̞́͋̍͛̍ͦi͐ͪ͗͏̟͖͚̩ͅp̼̜̩ͪj̛̳̲̒̓̈ͯ ̵̯̲̭̭̂̄ͣͬ̊g͍̓́̓n̤͎̥̹̠̟͎͔̹̞̆̓ͪ͋͂ͣ̄ͩͬ̅̿̃͢͞m̝̈̏̏͗͋͐r͎̼̲̦͉̩͠ỳ̨̩̮̙̟ͥ̌ͦͩͤ͌h̖̼̩͙̺͓̫̔̍̐͗ͦͫ͢n̙̤̜̲͎̯̘̒ͥ̒ͪ̄͛m̵̩̳̤͎̞͉̖͑̀͌p̘̗̫̪̹̙̫ͦ͜ḡ̫͔͕̹̬̹ṕͤ̎͂̌ͫv̪͈́ͯ̓ẑ̫̭͆͊͘i͓̹̺̩̯w̾̿̚p̡̫ͫͪ̐̅̀f̤̲̣̩u͚̭̥͉̳ͤ͌ͮͩi̻͕̗̺ͭ͌̐͛ͧj̺̻̗̜͚̥̗͂̊͢j̻̱̥́͋̇w̧͎̩̩̹ͧw̖̪̙̭̹͕ͩ͊͋ͥ̈́ͧ̔b̩̲̣͌͐̕m͛̎̏ͪ͒h̭̪͐̎̅̍́f̙̣͇̲̜ͅj̧̻̤̓̓̃̑ͧ̍n̔̎̇̅̐c̗̮̫̦̝̼͋ͣû̔̋q͙̋̂ͦ̌͠z̢̹̘̞͍ͤ͐̽t͇̲ͬ̒h̦̦̖͍ͤ͐̓̾̈́̆́͠k̈͊̋͜m̖͗̃͞ȁ͍̗̘̬ͬͧ͗͛ͤ̽v̞̯̜̹͑̀͢e͇̘̣̦̺̽ͅẻ͙̤̳͈̜̪̆ͧ̑̅̚̕a̴͈̺̻x̶̐̆͗ͭ̿̓̒r̘͍̳̼͔͓ͭ̒̆̏͂̍ͤr͎̅ͥ̈͠u̩̦ͧͫ̔͋ͤ̇u̝̅͂ͩ͛ͥ̉̚m̜̞͈͔̼̪͚ͤ̂͐̀͛̃͐ ̵̝̘͚͈͕̯̈́̓̔̀ͯ͛g̞͔͎̱̪ͬ̆ͦt̗͍̘̥̙̹ͥ̓͑͒̇x͝ͅá̧̦̹͐̅͒̔̓̄ͅr̤͙̲̗̟̝͇̆ͤͨ͊̒[[password2|password2]]̯̟ͧ́̀͟w͊c̜͔̼̐̃͒̚m̩͍̦̱͊̓̿͛͆ͧh̴͙̖̘̫̖́̑̒ͅk̨͎̬̙͓̓̿̆ͤ̄z͓̻q̷̤̲͚̱̤͖̙̉ͦ̑̌iͬ̾͊̂͌ͧ̀y̺̞͖̭̥͔̠ͥ͑͛̂w̶̤̩̥͍͍̣̟ͥ͌ͬ͌͑̍̋b̘ͬpͫͨͯ͌́̀ͬ҉̬̥͔͉c̵̲̩̱͍͚̥ͭz̻ͬͦ͗j̤́lͮ̅҉͙̯̭̰̳x̌͒͂̎ͣ̉̎͏ẋ̢̞̰̳̪̖͓̐u͖͙͙̒̎c̣̹̤̺̹ͪͥk͚̤̞͓̋̃́̌̉ȍ̝̫͔̱̭͉̄̾̀̈͜m̠̩͖͕̦͗͗͌͡zͤ̎̓̅̆̅҉̳͇͍̳͕̳̦j̡̗̞͕ͧͣͩc͉͈̳̹͉̹̋̃j̴͙̥̙ͬ̊͑x̮̪̬̙̰̿̃̾͌͊̐[[password3|password3]]̭r͎͔̥͔̱̙̹ͬ͗͝z̖̼͇̗̖ͮ͐̅̂̈̈́ͅṙ͐̑ͮ͑̆̊r͎͉̺̳̻̬̣ͬ̍͗ͤͫ̓̚o͖̗̤͌ẉ̶͓͕̖ͅtͣ̃̊̋s̮̒ͧ̚͟ ̌̉m̫͙̘̥͉̲̜̓ͭͣ̄͊̀͘g͔̦̗͇̱͐͊ͬ̚x̤̻͖͎̊̆ͤͯ̏̓ā̲̐͛ͤ̕ḱ̡̘̲̫̯͕̈́ͧ̚ͅh̖̻̽ͯ͌ͫ̓̈́ͧ͘z̪͎͚͒ͨä͓̝̯͙́̑ͧ͛ͦ̂e͌̈́̓̇̍̾͡s̪̝̼̥͎͚͐͂̑̓͋͊́ķ͔̙̔ͥͯͩ͑̉e͙͉̺̺̥ͯs̫̮̯̩̠̪̕v̝͈̤̺̬̈ͮ͆̂͌̓͞q̝̥̙̂͛̈́͟o̹̹̬̔̓ͅḽ̶̪̳̲̥̩͉̂̊̇ͤ̚ỳ̸͚͎̐͆ͯp̤̫̤̮͇̆̍̈́ͦͬ̒͌y͙͊ͫ͛͑f̯̗̃͊ͧͮ̽ͪͬm̜̪̘̯̆͗͛̽ͭ́n͔̮͕̬̜̱s̗̩̪ͣ̽̆͊̃̑ṳ̱͓͖͈̤͉͋̋n̆͑͒̿̈҉͍̖̜̻͙̻̦ṣ̥̟t̠̲̋͛ͯ͝ͅy̮͐ͥ̿̊̑e̛͕͙̿̈ͧ͋ͮr̠͇̦̟̭̒͡t̳̤͍̝̺̱ͩw̫͈̃ͥă̡̗̤̠̼̍ͤ̀ͬ̓̚ͅcͣ̊j̮̤͉͢v̮̼̻͎̅͂͛͆̓c̴̺͕̙͉̦͈ͪͅü̯̝ͧͨͬ͋ͮ̀w̔̀̃̓ͯ̓̚f̣̖͉̭͓̊̏͌̀ͤ̎e̱̫ͫͣͭh̨̝̔̑ͣͬͤv̼̰̦͇̪̖͊͆ͭ̌̉̄q̟͖͕̈́͋ͮ̓̂̽r̶̼͉̖̠͚ͭ̽́͊e̵͈ͮn̥͎̆̽́ṟ̴̹ͣͣͪ͑͐e͖͙̱̺̩͛̍̀ ̸̟͔͖̩̫̊ͨ̾ͤk̤̙̻͈͎̞͊͑̋̑̂̚͝q͙͈̰̪̘̜̪ͯ͑̋̚͡g̯̜̖̖̠̫͂̓b̯̤̓q͕̠̳͔͝d̤͖̑̎̏̈́ͩͦ̚p̳̖̺̤̟̞̲ͮọ̬͛q̠̪̠̱͙̱̜ͯn̹̹̺̳͖̬̾ͤ̄̂z̙̻̿̓ͭͨ́t̢͛ͯͨ̂ͤͪa̴ͭ̈̽x͓͉͍͕͈ͪ̽̎̐j͖̋͂͡r̭̪̩͂̀̀͜ͅh̹̉ͩ͂̋͞x̪͈̏̃̓͠e͖͕̖̠̐ͩ̿ͩͩ̄̃̀r̶̺̜͈͚̰o̓ͅͅk̖̱̳̦̬͓ǒ͖̩̙̟̝̑e̝aͧͩr̸̜̺͓̩ͤ͂ͤ͊͋̍r̅̌ͩ̄̆͂̽҉b̢͈̜̯̱̅p̳̩͌̆̇͋a̳̦̙̜͖͖̱͒ͪ̈́̐̃k̰̒̅ͥ͌̏s̢ͧͧ̏ͪ̀̀̚g̖͇͕̣͓̳̯ͣ͆a̼͕͗̾̂̄͜d̯͔ͩ͋ͩͣ͠l̆͗̓̓̔́g̲͇̰̹̺̾ͯ̊ͦ̊͢v͎͚̐̎̀ṕ̩͇̗̳z̟̞̳̖͇̹̝̈̊ͭ͟s̙͖̪ͨ͊̌ͧ͠n̼͎̱͚̎ȧ̃f̟̔͒ͨ͠n͇͛ͬr̳͖͆̃ͅk̋ͤ͂̈ͨb͖̩̗̠͖̅̄ͯ͋͌̊̎ͅͅh̫͍̦͛ͤͨͥͭ͛ͭ͞a͊̆ ̘̲͍͕̆̊͑͛ͨͮ̾</tw-passagedata><tw-passagedata pid="10" name="password1" tags="terminal" position="467,962" size="100,100">INITIATING HACK...


1
2
3
4
5
21
30
40
59
76
93
97
100


INCORRECT PASSWORD.

[[TRY AGAIN|hack]]</tw-passagedata><tw-passagedata pid="11" name="password2" tags="terminal" position="617,962" size="100,100">INITIATING HACK...


1
3
5
21
35
63
78
93
100


INCORRECT PASSWORD.

[[TRY AGAIN|hack]]</tw-passagedata><tw-passagedata pid="12" name="password3" tags="terminal" position="767,962" size="100,100">INITIATING HACK...


1
23
67
92
100


PASSWORD UNLOCKED

[[&gt;proceed|proceed]]</tw-passagedata><tw-passagedata pid="13" name="proceed" tags="terminal" position="767,1112" size="100,100">HELLO admin,


[[&gt;help.txt|help]]

[[&gt;unlock|unlock door]]

[[&gt;close|closed terminal]]

</tw-passagedata><tw-passagedata pid="14" name="help" tags="terminal" position="692,1262" size="100,100">





OPENING HELP.TXT........................


OPENED............

------------------------------------------------------------------------------
help.txt
------------------------------------------------------------------------------


ȟ͖́e̷̛͎̺͇̱̓ͣ͒̿̉̋lͩ́҉͔͜p̡̻͎̣͙̱̫̩̬̏̂͆ͭ ̪̖͇͉̭̤̊̆ͭͭ̎͛ͅȟ̢̦̻ę̼̤͚͎̤̞̫̍ͣ̒ͨ̈́ͦͭͣ͜l̷͓̺̩͚̖̩̪̏̽ͮͩ̃ͬ͑́͘ͅp̵̸̙͓̫͉̮̾̈́ͮ̓ͧ̃ ̥̜̻̰̩̋̄̈͑̔ͤ̒ͣ͞h̟͚̙͊͒ͬͦ͌ͦ̏̚e͔̫̗̠̥̠̗̋̌ͧ̾̇͆͜͡l̗͔̱͈̜̗͚̮ͧ̀͞ͅp͙̼̗̩̭̪ͩ ̉̍̃̂̌ͪ҉̫̱̜̦̝h̺̲̞̙͇̐̋͗̍eͫ̏̕͢͏̥͔͚l̷̢̧̲̤̬̘͙͕̠͒̊̊͆̇̄͗̔p̗̝̙̫͇̺̝̹̳ͭ́̚͞ ̙̖̠̣̓͋͑̂̇̒̌ͅh̨̘̺̙͊̽͑̕ͅe̢͉͎͔̥̬̽̂ͮ̓̐̀l̛ͦ̆͏̩̬͖̳p̼̥̞͔͊ͣ̈ͮ̾͘ ̻̓̅́̎ͫ̃͐͐͘h͔̗͉͇̖͍͓̩̲͌̎̆ͣ͛͊͘͝ȅ̢͉͉͔̙̝̫̗̤ͯ̊̍̌ͮͭ́̚͡l̡̨̲͔̔p̮̭̲͇̠̜̻̯͒ͧ̌ͯ͆̌̍ ̺̜̤̲̘̈́̃ͫͦ̉͑͟h̝̖͔̗̘̳̾̿͛ͧͨ̆̚e̯̦͈̘̯͔̾ͩͬl͂͐͆̀̀̾̓͏̻̞̺͕͔͖͚̀̕p̷̛̤̲ͥ́̓ͭ ̸̸͔͍ͥ͂͜h̸͍̱̫̥͇̺̰̺̪̏͞ë͕̜̑̃͊ͅl̷̠̝̗̜̼̤ͩ͂̎̓̃ͫ͐ͣ͝p̜̎̀͋ͩͮͅ ̷̟̪͙͒ͪͯ̆̋̿͟h̰̭̑̚͟ẽ̸̻̳͖̘̭ͯ̄͌͒̕͟ͅl̲̣͙̩̭͍̒ͫ͛̈́̚͡͞ͅp̴̩͍̹̖̼͍͔̼̰̌ͯͫ̓̾̿ͣ̇ ̢̢̻̙̩͕̰̣̣͕̿͝h̫̼͈̙͔̦̤ͨ͌ͫ̑ͩ͑ͬe͙͙̫̗̙̰͂̽ͨ̐͐̄l̛͍̻ͦ̈́͆͗ͣ̚p̡͇̙͚̝͎ͦ̾̎͋͌̓̎ͣ̆̕ ͍̤͔͕ͥ̄ͧ͒h̶̛̪̄̄͛ͮ̒̈́̎͒e̳͛͊͂̂͑̌̊́͟l̛̮̖̰̦̣̳̈́ͅp̨̺̤͚̟̗̟͚ͣͪ̍ͩ ̦̭̹̞̲͔͚̣͉ͩ̐ͪ͂̒́͗̌̓h̫͗̀̓͒͋͐͠ȩ̝̀͗͢͢l̵̲͔̖̞ͤ̿̇͑͌̐͛ͮp̖̱̱̥ͥ͛ͫ́ ̧̛͚̏̾͆ͮͦ̚ḫ̨̛͙͙̲̫̤̩͍͈̿e̡̦͚͒̒̀ͭ͌̍͞ľ̨̩͛̂̉͋̿̓p̠̖͇̗̓̉ͨͣ̂̐ͨ͟ ̝͚̠͈͈̒̆͗͗̄͒̂͊͝͡h̢̩̯̳͎̟̥̥̮̄̾̾ẹ̳̪͉̗̯͎͙̌̄̆̓͡l̪ͦ͐͂̆ͨ̽p͈̞̲̋̓̈͒ͦͫ́̍̔͜͞ͅ ̶̪͚̼̙͙̺͕͐͗̌͛͊ͬ́̈͆ȟ͕̱̲̫͎ͩ̓ͮ̈́e͉͓̖̺̎͢͠l̤̯̤ͫͬ̎ͥ͘p̱͚̙̻͈̥̰̖͆ͧͩ ̷̯̙̣̥̾̐ͯ͛̐̈̊̽͌́h͖̠̜̟̫̹̔̉ͫ̈́̍ͤ̀͝ê̤̮͉̯̣̻̽ͤ̏̄l̼̠͍̲̘̪̯͖͋̓p͍̺͗͂͑ ̣͙̖̼̪ͮ̔̽̈́ͬ̓ͥ͐͝ͅh̩̣͙̱̰̗ͨ͛͗̿̓͗e̟̖̮̟̣̼͙͌̓̂̈́̄ͮl͖̞̖͎̱̿͛̂͂́p̛͙̲̻͕̜͌ ̬̐ͧ̉ͪh̩ͤ̋ͧ̌͝ͅe̛̻͇ͧͭͯ̈̐͘l̸̒͒̌́͗͌̈́͛҉͔̗̠͚͉̬̩̀p̺͖̥͇̭̙̍͆ͯ͆̈̚ ̰͇͇̙̻̭̀̉̚͠h̿̊̐͑͏̨͈̞͇̻̼ë̫͎̄ͣ̀ͣ̽ͤ̍l̴̻̝̂ͤ͆̕p̺͙̭̤̖̏̍͗͗ͭ͂͘͝ ̴̨̼̩̥̻̣̬̺̝ͤ̓̈́͆̓̔̅ͫ̊h̰͈͇̺̘̠͑ͫ̒̍̋ͭ̈e̦̙̖̙̙͍̬ͩ̋̿ĺ̫̤͙͎͈̰̪͌̾̀͐̍̿̃p̹̪͗̀́ͫ͘͞ ͍̹͕̤͕̜͉̹ͦ͑̀͛͗̽̈́͘͝
̏̚҉̦̜͔
̼̳̾̓̽̈́͡h̵̰̹̹̰͓ͨͤ͒e̴̱̦̗̩͎̙̥͆͆͆l̛̹̬̞̫͙̓̄ͥ́ͤ̚̚̚͘͡p̮͙̪͚̮̤̊ͦ̾̉̐͟ ͚̣͔͙̯͖͇̙̏̓ͣ̆̕m̢̗̙̫̫̘̭̟̑̀̇͂ͨ͌͠e͎̱͉̎̎̿̓̕͢ ͇̦̈́h̫͓̞͓͔̮̲̟ͨ͞ë̜́ͭͤ͑͒͐ͫ̔l̷̪͙̦̳̑̽̅ͪp̒̆́͏̶͓̤̞̻̕ͅ ̡̪͖̣̠̩̊̈ͦͨͭͭͫ́́m̛̆̄̓̋ͧ̓҉͎̪͇̗̠̪e͕̮̥͇͉̣ͣ̏ͩͮ̓̉ ̷̵̨̞̓͋͗̎̇̄h͈͙͍̊ͤ͒̑́e̸͋̌͒҉͇͕͕̞̤̦̭̤l͗̈ͭ͏̵̮̪p̡͚̲͕̺̬̜͒̃͂̿̃͗ͩ̕͢ ̴̦̭̖̬̩̲ͦ̒ͩ̍͗̆m͕̳̠͙̤̗̯͗ͩ̅́ͫe̬̝̪̪͙̼̙͕ͩͤͩͩ͋͒͆ ̷̶̳̑̓͞h̼̤̘͙̓̆ͣͪe͙ͭ̌ͯ́̀l̴̗͇̱̘͓̠ͫ̿̾͌͋p̵̶̳̣̘̼̥̞͓̫̈̂ ̢̱̘̹̀̆ͨ̄m̻̻͉͕͒͊͢͡e̛̦̱͚ͯ͑̊͐̽ͧ͡ ̢̱̩̭̥͇̠̘͌͆̇ͫ̎͘ͅh̭̝̭̉͂ͧͅe̍̉ͩ̎́҉̰̤͍̻̹̣̘͔l̶͈̖̭̭̏̎̓̓̓p̞̤̖̺̯̘̟̳̂̃̚͘ͅ ̛͙̩̂ͧͨ̉͂̔́̈̔m̼͓̝ͩ̅̈̈́͡é̶͕͕̳̙͍̳̞̼͕ͩ͒ͪ͗͋̅͗ ͍͔͙̹͍̥̙̊ͣ͊̒̄ ̬͓̺͔̿ͥ̌̊h̛̖̤͛̑͘ȅ̵̘̲̖ͬ̔͋͋̽́͝l̃̑͐̑ͦ̚͟ͅp̝̫̥̪̘͈̦͛͆ͥͯ͂̏͂ ̛̮̗̙̥̅̿̈m̏ͥ҉̼̜̠̱͔̭̭̯e͛͛͆̉̓͑̾̋͑҉̖͕̱͚́͝ ̶̻̟̺̘̥̤̋͂ͯ͑̔̈́̈h̟̫̰ͧͨ͜ê͓̗͖̘̝̘͐̊ͤ͟͡l̛̹̘̪͚̼̭̙̃ͫ̃͋p̶͂̀͗ͭ͐̇̾͗ͥ͘҉̣͓̺̖̫̻ ̢̆̆̋̑ͧͪ̈́̽͞҉̥̗̝̘̲̮m͔̈́̋̃͌ͤͪ̐̕͜ę̖̹̤̽̉ͯ̔ͨ̐͠ ̷̢̥̬͓̒̇ͥͨ̿ĥ̴̳̺͍͈̹̫̻̼͎̾͂͑ͫ͗̈͗́e̲̯̗̲̦̼̼̲͂̅l̟̻̯̖̠̫ͧ̃̎̎͊͊͐́p̨̝̘̠̓̓̿̇ͯ̃̽̓̋̕ ̶̷̨̯̓ͮͬ̑̌̚ͅm̡̲͖͉͙̣͎̺͊͊̓̄͜ę̡̻̞̫͉ͤͥ͛͑̀ ̸̜̏ͫ͋ͮͩ̽ͭ̍̌͞h̴̠̟͎̎͊ͭe̶̡͔͕͑ͭ͗̎ͬͦ͑̈́̊l̤̖ͦ̋ͤ͢p̶͈͉͙̩͂͗ͦ ̛̗̬̼̗̩͚̞̥͚̈̓ͩͭ̎͗m̴̵̀̍́ͧ͏͕̠͉͕̲̮̘e͕̘̪̫̣̽͒͆͘ ̡͇̬̗̦ͮ̌͂̍̔ͪ̂̒̚̕͞ẖ͙̼͖͗e̛̝̤̫̺̝̭̳ͫ͂̓̌̑ͅl̆҉̧͇͕̗̠̭͓̺̮̀p̝̰̘̼͈ͬ̎ͅ ̶̨͈̬̝̮ͫ̔̑̂̇͠m̜̞̺͉̞̖̓͆͜ȩ̴̴̯̗̯͇̰̤ͭ̆̍ ̶͖͎̙͖͓̘̜̥ͥ͛̓͗ͨ̔̄͢͠ ͚̫͛ͦ͆̃͜͡h̩̜̯͉̺̜ͧ̿̒̽ͭ͝ͅe͈̜̦͍̣ͯ̉̈́̆̅̉ͮ́͢ͅͅl̖͈͇̜̇ͬ̇͑ͨp̵̤̩͇̦̻̜̪̔̋͆̇̏̾͌͛ͅ ̸̡͍͕̻̬̱ͮ̄̋ͦ̆̓͞m̢̻̠̣̼̖̍͘͝ẹ͕̩̹̭̖̣ͬ̆̃ͨ͆̋ͫ ̓̅͋͑ͤ̏͏͖hͧ̔͗́҉̡̗̹͚̜̦e̷̓̊̍҉̟̤̳̤͖̖͇̜ļ̴̸̖̤̱̌͑ͣp̹̞̟̣̣̞͎͔ͫ ̭͎͆ͫͮ̈̿ͣ̚m̰̭̻̭̠̭̥͑̔͆̋́ͯͅe̅̈́̍̏̉́͏̝̗̱̫ ̨̞̳̠̳͓ͭͬ̑͂ͦh͎͔̼̭͚̻̫ͦͥ̾̂́e͍̘̾̍̊̇̔̉ͪ͂ͬ̀̀͝l̷̠̝͔ͥͥ̕p̵̵̙̫͇͗ͣͪ͒̃̋͗ͤ̚ ̶͓̪͇͇͒m̯ͧ̃͗̑ͨ̍̇̂̚͜e͖̺ͤͭ̆́̽ͪͬͨ͋́ ̶̟̆̿̉͡h̠̼̯̿̈́͗̀ͪe̺͎̫̾́l͛̇̊͊̈͆̈́̚҉͈p̡̠̣͙ͫͮͤ̏ͅ ̣͈̭̬ͣ̂̓ͣ͌̒͝m̠͍̪̟̠͓̰ͥ͛ͧ̏̈́́ḛ̢̮̝͈͛̃̉̓̔ ͥ̾͏̥͈̘h̥̣̞̦̖̥̤̩́͂́ę̷͓͇̦̍ͯͧͫ͘lͩͧ̋͏̨̲̫p̸̢͙͖̦̳̂̾͠ ̨̼̣̂̊m̛̳̱̻͉̈̑ͣ̐͆ͣe͎͚̜̰̮͖̐̋̏͑ ̱͚̱̱̘̣͗ͫ̽̆̆̇͊͒̓ ̢̾͡҉̙̜̯͍̫̯̦̗͓
ȟ͖́e̷̛͎̺͇̱̓ͣ͒̿̉̋lͩ́҉͔͜p̡̻͎̣͙̱̫̩̬̏̂͆ͭ ̪̖͇͉̭̤̊̆ͭͭ̎͛ͅȟ̢̦̻ę̼̤͚͎̤̞̫̍ͣ̒ͨ̈́ͦͭͣ͜l̷͓̺̩͚̖̩̪̏̽ͮͩ̃ͬ͑́͘ͅp̵̸̙͓̫͉̮̾̈́ͮ̓ͧ̃ ̥̜̻̰̩̋̄̈͑̔ͤ̒ͣ͞h̟͚̙͊͒ͬͦ͌ͦ̏̚e͔̫̗̠̥̠̗̋̌ͧ̾̇͆͜͡l̗͔̱͈̜̗͚̮ͧ̀͞ͅp͙̼̗̩̭̪ͩ ̉̍̃̂̌ͪ҉̫̱̜̦̝h̺̲̞̙͇̐̋͗̍eͫ̏̕͢͏̥͔͚l̷̢̧̲̤̬̘͙͕̠͒̊̊͆̇̄͗̔p̗̝̙̫͇̺̝̹̳ͭ́̚͞ ̙̖̠̣̓͋͑̂̇̒̌ͅh̨̘̺̙͊̽͑̕ͅe̢͉͎͔̥̬̽̂ͮ̓̐̀l̛ͦ̆͏̩̬͖̳p̼̥̞͔͊ͣ̈ͮ̾͘ ̻̓̅́̎ͫ̃͐͐͘h͔̗͉͇̖͍͓̩̲͌̎̆ͣ͛͊͘͝ȅ̢͉͉͔̙̝̫̗̤ͯ̊̍̌ͮͭ́̚͡l̡̨̲͔̔p̮̭̲͇̠̜̻̯͒ͧ̌ͯ͆̌̍ ̺̜̤̲̘̈́̃ͫͦ̉͑͟h̝̖͔̗̘̳̾̿͛ͧͨ̆̚e̯̦͈̘̯͔̾ͩͬl͂͐͆̀̀̾̓͏̻̞̺͕͔͖͚̀̕p̷̛̤̲ͥ́̓ͭ ̸̸͔͍ͥ͂͜h̸͍̱̫̥͇̺̰̺̪̏͞ë͕̜̑̃͊ͅl̷̠̝̗̜̼̤ͩ͂̎̓̃ͫ͐ͣ͝p̜̎̀͋ͩͮͅ ̷̟̪͙͒ͪͯ̆̋̿͟h̰̭̑̚͟ẽ̸̻̳͖̘̭ͯ̄͌͒̕͟ͅl̲̣͙̩̭͍̒ͫ͛̈́̚͡͞ͅp̴̩͍̹̖̼͍͔̼̰̌ͯͫ̓̾̿ͣ̇ ̢̢̻̙̩͕̰̣̣͕̿͝h̫̼͈̙͔̦̤ͨ͌ͫ̑ͩ͑ͬe͙͙̫̗̙̰͂̽ͨ̐͐̄l̛͍̻ͦ̈́͆͗ͣ̚p̡͇̙͚̝͎ͦ̾̎͋͌̓̎ͣ̆̕ ͍̤͔͕ͥ̄ͧ͒h̶̛̪̄̄͛ͮ̒̈́̎͒e̳͛͊͂̂͑̌̊́͟l̛̮̖̰̦̣̳̈́ͅp̨̺̤͚̟̗̟͚ͣͪ̍ͩ ̦̭̹̞̲͔͚̣͉ͩ̐ͪ͂̒́͗̌̓h̫͗̀̓͒͋͐͠ȩ̝̀͗͢͢l̵̲͔̖̞ͤ̿̇͑͌̐͛ͮp̖̱̱̥ͥ͛ͫ́ ̧̛͚̏̾͆ͮͦ̚ḫ̨̛͙͙̲̫̤̩͍͈̿e̡̦͚͒̒̀ͭ͌̍͞ľ̨̩͛̂̉͋̿̓p̠̖͇̗̓̉ͨͣ̂̐ͨ͟ ̝͚̠͈͈̒̆͗͗̄͒̂͊͝͡h̢̩̯̳͎̟̥̥̮̄̾̾ẹ̳̪͉̗̯͎͙̌̄̆̓͡l̪ͦ͐͂̆ͨ̽p͈̞̲̋̓̈͒ͦͫ́̍̔͜͞ͅ ̶̪͚̼̙͙̺͕͐͗̌͛͊ͬ́̈͆ȟ͕̱̲̫͎ͩ̓ͮ̈́e͉͓̖̺̎͢͠l̤̯̤ͫͬ̎ͥ͘p̱͚̙̻͈̥̰̖͆ͧͩ ̷̯̙̣̥̾̐ͯ͛̐̈̊̽͌́h͖̠̜̟̫̹̔̉ͫ̈́̍ͤ̀͝ê̤̮͉̯̣̻̽ͤ̏̄l̼̠͍̲̘̪̯͖͋̓p͍̺͗͂͑ ̣͙̖̼̪ͮ̔̽̈́ͬ̓ͥ͐͝ͅh̩̣͙̱̰̗ͨ͛͗̿̓͗e̟̖̮̟̣̼͙͌̓̂̈́̄ͮl͖̞̖͎̱̿͛̂͂́p̛͙̲̻͕̜͌ ̬̐ͧ̉ͪh̩ͤ̋ͧ̌͝ͅe̛̻͇ͧͭͯ̈̐͘l̸̒͒̌́͗͌̈́͛҉͔̗̠͚͉̬̩̀p̺͖̥͇̭̙̍͆ͯ͆̈̚ ̰͇͇̙̻̭̀̉̚͠h̿̊̐͑͏̨͈̞͇̻̼ë̫͎̄ͣ̀ͣ̽ͤ̍l̴̻̝̂ͤ͆̕p̺͙̭̤̖̏̍͗͗ͭ͂͘͝ ̴̨̼̩̥̻̣̬̺̝ͤ̓̈́͆̓̔̅ͫ̊h̰͈͇̺̘̠͑ͫ̒̍̋ͭ̈e̦̙̖̙̙͍̬ͩ̋̿ĺ̫̤͙͎͈̰̪͌̾̀͐̍̿̃p̹̪͗̀́ͫ͘͞ ͍̹͕̤͕̜͉̹ͦ͑̀͛͗̽̈́͘͝
̏̚҉̦̜͔
̼̳̾̓̽̈́͡h̵̰̹̹̰͓ͨͤ͒e̴̱̦̗̩͎̙̥͆͆͆l̛̹̬̞̫͙̓̄ͥ́ͤ̚̚̚͘͡p̮͙̪͚̮̤̊ͦ̾̉̐͟ ͚̣͔͙̯͖͇̙̏̓ͣ̆̕m̢̗̙̫̫̘̭̟̑̀̇͂ͨ͌͠e͎̱͉̎̎̿̓̕͢ ͇̦̈́h̫͓̞͓͔̮̲̟ͨ͞ë̜́ͭͤ͑͒͐ͫ̔l̷̪͙̦̳̑̽̅ͪp̒̆́͏̶͓̤̞̻̕ͅ ̡̪͖̣̠̩̊̈ͦͨͭͭͫ́́m̛̆̄̓̋ͧ̓҉͎̪͇̗̠̪e͕̮̥͇͉̣ͣ̏ͩͮ̓̉ ̷̵̨̞̓͋͗̎̇̄h͈͙͍̊ͤ͒̑́e̸͋̌͒҉͇͕͕̞̤̦̭̤l͗̈ͭ͏̵̮̪p̡͚̲͕̺̬̜͒̃͂̿̃͗ͩ̕͢ ̴̦̭̖̬̩̲ͦ̒ͩ̍͗̆m͕̳̠͙̤̗̯͗ͩ̅́ͫe̬̝̪̪͙̼̙͕ͩͤͩͩ͋͒͆ ̷̶̳̑̓͞h̼̤̘͙̓̆ͣͪe͙ͭ̌ͯ́̀l̴̗͇̱̘͓̠ͫ̿̾͌͋p̵̶̳̣̘̼̥̞͓̫̈̂ ̢̱̘̹̀̆ͨ̄m̻̻͉͕͒͊͢͡e̛̦̱͚ͯ͑̊͐̽ͧ͡ ̢̱̩̭̥͇̠̘͌͆̇ͫ̎͘ͅh̭̝̭̉͂ͧͅe̍̉ͩ̎́҉̰̤͍̻̹̣̘͔l̶͈̖̭̭̏̎̓̓̓p̞̤̖̺̯̘̟̳̂̃̚͘ͅ ̛͙̩̂ͧͨ̉͂̔́̈̔m̼͓̝ͩ̅̈̈́͡é̶͕͕̳̙͍̳̞̼͕ͩ͒ͪ͗͋̅͗ ͍͔͙̹͍̥̙̊ͣ͊̒̄ ̬͓̺͔̿ͥ̌̊h̛̖̤͛̑͘ȅ̵̘̲̖ͬ̔͋͋̽́͝l̃̑͐̑ͦ̚͟ͅp̝̫̥̪̘͈̦͛͆ͥͯ͂̏͂ ̛̮̗̙̥̅̿̈m̏ͥ҉̼̜̠̱͔̭̭̯e͛͛͆̉̓͑̾̋͑҉̖͕̱͚́͝ ̶̻̟̺̘̥̤̋͂ͯ͑̔̈́̈h̟̫̰ͧͨ͜ê͓̗͖̘̝̘͐̊ͤ͟͡l̛̹̘̪͚̼̭̙̃ͫ̃͋p̶͂̀͗ͭ͐̇̾͗ͥ͘҉̣͓̺̖̫̻ ̢̆̆̋̑ͧͪ̈́̽͞҉̥̗̝̘̲̮m͔̈́̋̃͌ͤͪ̐̕͜ę̖̹̤̽̉ͯ̔ͨ̐͠ ̷̢̥̬͓̒̇ͥͨ̿ĥ̴̳̺͍͈̹̫̻̼͎̾͂͑ͫ͗̈͗́e̲̯̗̲̦̼̼̲͂̅l̟̻̯̖̠̫ͧ̃̎̎͊͊͐́p̨̝̘̠̓̓̿̇ͯ̃̽̓̋̕ ̶̷̨̯̓ͮͬ̑̌̚ͅm̡̲͖͉͙̣͎̺͊͊̓̄͜ę̡̻̞̫͉ͤͥ͛͑̀ ̸̜̏ͫ͋ͮͩ̽ͭ̍̌͞h̴̠̟͎̎͊ͭe̶̡͔͕͑ͭ͗̎ͬͦ͑̈́̊l̤̖ͦ̋ͤ͢p̶͈͉͙̩͂͗ͦ ̛̗̬̼̗̩͚̞̥͚̈̓ͩͭ̎͗m̴̵̀̍́ͧ͏͕̠͉͕̲̮̘e͕̘̪̫̣̽͒͆͘
̡͇̬̗̦ͮ̌͂̍̔ͪ̂̒̚̕͞ẖ͙̼͖͗e̛̝̤̫̺̝̭̳ͫ͂̓̌̑ͅl̆҉̧͇͕̗̠̭͓̺̮̀p̝̰̘̼͈ͬ̎ͅ ̶̨͈̬̝̮ͫ̔̑̂̇͠m̜̞̺͉̞̖̓͆͜ȩ̴̴̯̗̯͇̰̤ͭ̆̍ ̶͖͎̙͖͓̘̜̥ͥ͛̓͗ͨ̔̄͢͠ ͚̫͛ͦ͆̃͜͡h̩̜̯͉̺̜ͧ̿̒̽ͭ͝ͅe͈̜̦͍̣ͯ̉̈́̆̅̉ͮ́͢ͅͅl̖͈͇̜̇ͬ̇͑ͨp̵̤̩͇̦̻̜̪̔̋͆̇̏̾͌͛ͅ ̸̡͍͕̻̬̱ͮ̄̋ͦ̆̓͞m̢̻̠̣̼̖̍͘͝ẹ͕̩̹̭̖̣ͬ̆̃ͨ͆̋ͫ ̓̅͋͑ͤ̏͏͖hͧ̔͗́҉̡̗̹͚̜̦e̷̓̊̍҉̟̤̳̤͖̖͇̜ļ̴̸̖̤̱̌͑ͣp̹̞̟̣̣̞͎͔ͫ ̭͎͆ͫͮ̈̿ͣ̚m̰̭̻̭̠̭̥͑̔͆̋́ͯͅe̅̈́̍̏̉́͏̝̗̱̫ ̨̞̳̠̳͓ͭͬ̑͂ͦh͎͔̼̭͚̻̫ͦͥ̾̂́e͍̘̾̍̊̇̔̉ͪ͂ͬ̀̀͝l̷̠̝͔ͥͥ̕p̵̵̙̫͇͗ͣͪ͒̃̋͗ͤ̚ ̶͓̪͇͇͒m̯ͧ̃͗̑ͨ̍̇̂̚͜e͖̺ͤͭ̆́̽ͪͬͨ͋́ ̶̟̆̿̉͡h̠̼̯̿̈́͗̀ͪe̺͎̫̾́l͛̇̊͊̈͆̈́̚҉͈p̡̠̣͙ͫͮͤ̏ͅ ̣͈̭̬ͣ̂̓ͣ͌̒͝m̠͍̪̟̠͓̰ͥ͛ͧ̏̈́́ḛ̢̮̝͈͛̃̉̓̔ ͥ̾͏̥͈̘h̥̣̞̦̖̥̤̩́͂́ę̷͓͇̦̍ͯͧͫ͘lͩͧ̋͏̨̲̫p̸̢͙͖̦̳̂̾͠ ̨̼̣̂̊m̛̳̱̻͉̈̑ͣ̐͆ͣe͎͚̜̰̮͖̐̋̏͑
̱͚̱̱̘̣͗ͫ̽̆̆̇͊͒̓ ̢̾͡҉̙̜̯͍̫̯̦̗͓


where am I?

here


who are you?

here

wher
.TXTTTTTTTTTTTTTTTTTT
hhaha

y̡̨̯͕̦͐̀̋͢o̻̠͈̮ͫ̇ͮ͒͝uͨ͋҉̷̹̞̮̯r͕̩̘͋̃͂͋̉̋ͯͪ͞ ̝͉̪̭̀̾s̙͔͐̃́͡c̷͉͇͔͕̽͗̀r̴̺̭͙͑̾͛ͬ͛ͨ͝͡ͅe̳͎̓ͭͧ̋̃̉̌͢͝w͚̱̺̝̤̲̽ͨ͗̕e̢ͥ̃̊ͨ҉͉̖̱͖̖d̢̨̼̲̘͓̙̲̿ͫ͗ͪ͋̀y̜̺̥̖͊ͪ̃ͬ̀͘ō̌ͬ͆̈͗̏̊͘ͅũ̟͔̝̠̣͍̪̏́̓̒͐͌͑̀ř̒͛͏͖͇̯͠ ̴̲̬̞̰̗̦̫̞͉̍͂̂͢s̡̼͔͐ͬ̎ͧ͊̃͝c͋͑̍̕͏͚̱͈͚rͬ͂̾̏̓͌͏͔̞̞̲ě̷͓͎̩̻̺̇͛ͪͬ͌̽̈͘͡ͅw̴̘̖̱͔̰̥͚͎͗ͭ̚e͖͇ͣͪͩ̑ͮ͒ͫḑ̵̨̪̘̯̗̲͖̺ͯ͛̑ͩỵ̰ͣͦ̽̇ͯ̀̚ȯ͔̻͚͎̰̐ͫ̒u͍̜̐̀̃ͧͮ͞r͈͎̘ͭ̐ͮ̿̑̅͋ͦ̓ ̩̲̞͍̗̖̲̿̔̕͞ͅs̫̘͉ͩ̍̽ͧ̾ͣ̀c̰͇̻̙ͤ͑r̷͉͕̙ͧe͙͎̹͌̏ͧ́ͧͭ͜͢w̅҉҉̖͈̞̮̥͜ḙ̳͚̣͍͑̃̆͒͌͠ḏ͍̈̎ͬ͐̋ͭ̕͢y̘͉͙͙̆̂̂ͦ̍̄̏͜ô̺̫͈͇ͮǔ̸̼̝̝̮̂͛ͪ̃̃͒̋ȓ̨̭̲͖̞͖ͦ͐ͩͮ̐͡ͅ ̵̸͙̜̠͔͖͚̗̅͌̓̿̽̀s̷͍̯̮͈̹͚̣̈́̑̉͘c̼̍͊̚ŕ̤̺̟͈̲̜̤̺͛ͦͬͬ͜eͭ̎ͫ̇͒̂̃ͨ̏͏͜҉̺w͛ͤ̔ͩ͐͆ͮ͏̱͈͇̣̩e̛͙̥ͨ͐́ͮ̽͗ͯ̓͘d̡̮̲̣̞̲̻͈̋̒͂ͩ͒̀ͤ̚y̧̙̙̙̩̟̬̻̦͛͛̂ͩ͘ō̃͏̱͜ù̳̯̥͔͉ͨ̃ͧ͗̊̃͋͟͠ṙ̡̹̬ͯ̍̆̍̐ͧ ̤̣͍͑͂͐͜s̷͉̦̞͎̞͇̟͊ͫ̎͜͠ͅc͂̃͠͏̬͍̞̣̙̙͙r̗̝̻̣̭̖̗̆̅ͩ̌̓̑̿e̸̺͙̙ͥ̔̈w͎̪͚͉̺ͥ͂ͨẻ͚͙̙ͤ̂̌̍̑̃͗͡͞d̴̯͉ͤͮ̔ͮ͜y̸͉͔̼̪̱ͫ̒ͥ͆͝ö̗͇̯͖̤ͮ̂̓ͨͧͭ͗ͪ͢u̶̴̅̉̏̍͛̎҉̥ͅȑ̘̏͛̂͊͠ ̫̼̹̼̣̜̲̣͌̓̎͠ş̴̪͎̫̺͎ͮ̿̈ͥͥͫ̒̓c̢͚͖͕̹̰ͨ̈́͑̓̍ͤͮ̎͑͜͡r̷̶̮̹ͯ̇ͬ̏͗̈̐ͫ̿̕e̶̦̤͇͍̦͂̈̕ͅw̢̞̥̓̄̓́ē̛͚̻̻̪̪̳̭̤ͩͮ̾ḏ̮̟̗̜͕͎ͥ̓̉̿̅ͮ̈́̚͡y̴͇̮͙̮̼̣͂͌͒̇̌ͨ̾̅o̪͔͈͍̻̲̹ͬͧ̆̓̚͝u͖̰̘̗͕̖̔͗ͭͭ͂ͭ͞r͚̪͈̯̹̹͌ ̞̺̩ͯ̾͟͝ͅs̵̹̜̙̺͔͈ͣ͊ͦ͢c̹̘̭͕̬̩̲͛̒͋̂ͥ͑ͥ̀͡͠r̙̳̱̼̖̭̪ͩ̀e̵̢̻̟̜͇̳̺̍ͩͧͮͮ͗̿w̢̯͚͍͖̯̫̺ͫ̋̌̑ͯ̽ͅe̩̮̯̩̺̝̊͜͠d̦̰̦͈̩̜̻̂̐ͣ̃̐̕ͅy͕͖̭̰͇̦͊ͭͨ͌̉͞o̷̟̟͕̬̹͆͒̃̎̋ͥ̅ͯ̇u̽̐͊̉̓͏̰̠͖͔̜r̶͍̟̻ͤ̑̎͒̐̋̒ͬ͞ ̶̭̦̱͇̠ͯ̈́ͩͪ͐ͧͦ͢s̛̙͔̹͉̝̗͖͊ͮ̑ͧ́̚c̱̦̣̼̺ͯͮ͌̉̈́̒̈́̊͟͟͜ṟ̷̵̖̩̹̝͔̟̻̆̓͂ͨͦê̻̹͚͇̆̃̓͢͞w̶̺̘ͫ̏͒ͥ̚͘͘e̴̹͈̳̦ͨ̈̐̉̋ͤͪͦd̵̼̯͂̍ͧ̍̚͜y̸̱̥̙̲̽͂̇̄̽̚o̵̷͈̜̫̺͚ͨ̆̉͗u̬̐̌ͮ͋͋͘̕r̼̝̝͇͙̼̈̀ͧ̚ ͔̼͕̞͙̥̄̇͊́̐̚͜ͅs̵̼̼͇̜ͧ̅ͯͅč̢̓͑̾͑̆̎҉͓̱̱̥̫ŗ̘̳̺ͯ͢e̫̞͎̥̫̣̒̓ͦ̓̔wͬ̇ͩͧ͑͏̳̙̩́ȩ̘͙̥͍͚̤ͨ̋̉̿͑ͣ́̚d̶̻ͪ̇͗͆̊͒͋̕͟y̶̖͖͈̰̯̮͍̗͑̈́͘̕o̩̳̥̰̼̱̊̓̽̂̚ù̧̫ͭͣ͘r̵̶̡̭͖̘͔͈̰̀̽̊̓ ̛͉̬̞̹̈́̌̒̂͒s̡̞̘͓̠̪̠̝̅̑ͅc̢̪̘̠̱̭͂̎̌͗̇͂ͬ̔ŗ̫̟̝̹ͤ̒ͨ͋e̢̹̻̜͓̣̤͔̬̓ͭ̀͡w̴̖͔̬͎̯̺̗̞̔̂ͦͯ̔e̞̳͓͚͚̩̿̒̑̅̑ͨ̈́̕ḑ̙̩̦ͫ̏̈́ͪy͙̥̠͚̠̤̫̹ͯ̈́̾̅͘͠͡ͅo̴̱͕͇ͣ̏ṷ̵̸̧̫̿ͫͫ̃ͬͬ̐ͫr̪̜̥̫̬̜͓͍̈́͂͗ͧͧ̈́̊ ̦̺͉̪̦͆͌͠͡ͅͅs̾͝͏̝͎̘c̰̮ͩ̄ͥ́̂̃͒ŗ̛̣̠̹͎̳͇̤̂͂̄ͫ̂͋̊͊̃ͅe̡̳̙͙͔̝̎̇̿̍̔w̋ͫ̇͐͋̃ͤ͘͜ͅé͌̈́̋̐̏́҉̰͖̮̺̬́d͙̪̠̜̘̱̩ͧͩ̇̆͛y̴͎̙̠̭̙̝ͯͫ̔͜o̴̟̻͓̱͙͔͖̲̻ͪͩ̿̈́̅̀u̢̬̟̠̬͇͚͐͘r͓̤̭̬͕ͣ͑̏̎ͅ ̛͓͓̖͓̗̙ͩ͌͠s̨͇͓͙͉̮͚̃ͮ͌̆̀ċ̦̳̦̪͎̅̑͢͜r̶̵̡͎̺̱̥͕̃ͤ̋ͤͣ̎̚e̷͕̐͑̉w̋̌̏̽̉҉̟͚̻̺͉̖̱́͢e͗҉̧̲͔͔̞̲d̶̬̣͇̠͛y̨͈̺͉̯̯̣͇̬̓͑̔ͬͅo͓̱̼͖̘͇̟͇ͤ̌̔̊̈͜͠ų̶̥͔͇̻̮̙̭͐ͪ̅͐ͅŗ̶̳̮̰͔̎̾ ̴̺̜̲͍͓̯̅̈̒̃͂͝s̷͐̎͛̒͏̬̦͚͙̙̙̯̙c̓͗͒̒͂̿͒͐͏̫́r̻̞̼̭̝̭ͤ̄͞e̶̛̙̰̠̫̪̟͉̭͑̉͗̓̅̀͂ͅw̴̫̻̹̉̿ͨͥ̌ͮ̕ę̭̞̻̟͎̾̏̒̆̍ͥ͠d̹̘͓̪̺̲ͬͦ́̑̓͆́y͉̱̭̩̠͎͉͋͆͐ͦ̃͡o̤͖̥ͮͭ̌ͭ͌̓ͥ͠u̥͇̩ͣͤͫ͂͢͠r̯̠̬̹̠̖̲̰͒͗̕͝ ̧̛̤̹̝̳̝̗̥͖̫̑͘s̵͓͍͊͋͛̈́͑̋͊ͩ̾c̛͉̰͔̩̝̮̠͓̾ͦ͢r͔͙̖̝͊̉̾̓̄̄͋͢͞͝e͇̻͖̫͚̗̤̋̔̃̓w͍ͬ͐͘ȩ̱̹̮̻̫͈̱ͤͬ́̿̂̎̀ḑ̥͍͕̤̤̫͇͖̒̌ͩ͒͐͊̆ỵ̵̩͙̲̝͕ͥͤ̒̎ͫ̋͞͞o̗̟̠ͯ̅͌ͅu͈̩ͧ̂̄͂͂̈́̂ͬ̑ŗ̠̜̦̦̼̜̑̽ͤ̏ͫ̀ ̶̩̤͓͉͎̙̣͇̓ͥs̼ͤc̵͗̈͆̌͑͘҉̳̹̲͍r̼̲̞͍̯̒ͦ̑̔̈́̊͛͡ę̵̠ͭ̅̔̅͗ͬ̊͝w̢̡͈̫͚̮̱̠̱̤ͭ̔e̫̦͕̒͌͟d͓͇͚͉̳͚̤ͣ́ͫͭͣ͟͡y̩͉̒ͫͨ͆͐ͭớ̢͕̤̣̫̲̽̿̓̒͆u̴̡͎͗ͩ̿͗͆͗̈̌́r̯̋ͭ̈́̎͒̎ ̨̤̞̭͔̭͉͆̊̒ͫ̈ͦ̉s̢̩͔̤̟̪̟̲̒̅̍͘c̥̤͓͑̂͛̓͐̚͡ȓ̶̝͍͚͍̒͊̚͜͜e͈͈͂̾̉̅w̸͕̻̎̓ͩ̿̓̇̑ͨé̙̯̻̪͖̜̙̈́̓ͮ̐ͩͨ̓͞d͎̠͔͍͔ͮͬͩ̐̃̎̅͠y͓̗̟̗̘̝̓̌ͩͬ̃͌̕o̮̤̳͖̣ͭ͗̓ṵ̧̘̔ͣ͝r̢͇̹͖̠͔͔͇̩̳ͥ̃ ̯̻̻̻̠̪̤̪͂͜s̱͓̩̻̜̜̝͐ͫ̒͘ͅc͉͓̹ͬ̈́̊́͞r̯̗̺̖ͥͯ͠͝e̓́͏̨̙̲̤͓͕w̶̹͈̫ͬ͋͘ͅͅe̩̘̪̟̅̌̓̔̀d̴̢̼̳̺̳̳̜̿͢y̴̨͍̩̬̘̮̤͂ͪ͒̈ͧ̋ͦ͠ͅo̴͕ͤ̈͌͂ͥṷ̤̥̱̌̅̓r̮̀ͤ͊ͣͪ̄ ̮̝̮͔̪̞̟̯̓́͠ş̡̳̣͈̰̝ͯ͂ͪͧ̀c̺̭̠̓ͬ̿̈́́ͪ̍͝͡r̶͍͎̜͚͈̰̤̤̿ͭ͜͟e̴̸̦̖̓ͣͬ͌w͙̪̽̿̈͜e̞͖͙̯͆͛͜͞d̜̫̼̦ͨ͐y̢̯̼̟̜͈̺̟͈͌̈̈́̈̑̇̄̓̔͞ȍ̷͆̽ͭ̄ͭ͟҉͚̫̺͕̹͈ù̧̩̼͚̬̲͕̻ͨ̈́ͫͦͥ̆̚͘͠ȓ̢́̃ͪ̐ͬ҉̘̦͇̙͔͍̩̝͘ͅ ͈͔ͭͨ̑̀ͅs̖̞͇͍̲̒ͥ̍̈͊͊͌ͅc̘͇̗̫͍͎̩̠̈́͌͜r̴̴̳͕̊͌e̢̥̗̖̙̦̣ͮ̐ͤ͗͑͒ͨͣͅw͕͓̫ͮͧ͌ͮ̌̏̓̾̂͡e̬̍̿ͪ̆͌d̵̮͖͖ͤ̉̿̏ȳ̛͋́ͣ̃͛҉̤̳̜̤̙ơ͙̯̦̺ͭͬ̀̾́͟uͭ͊̂́҉̗͙͚̺͔̰̮r̶̻̱͕̻̭͋̇̂̽͋̅͌ ͇͚͈̜̲͍͛̉͆̐ͯ̓̈́̀s͍̱̻̗͙̙͕̱͉͊̽ͫç̸͈̰̗͈̥̝̳̦̼ͦ͗̓ͭ̌̚r̜̤̲̜̣̲ͩ̅̒͂̐̿e̾̊ͧͧ̔̑̈́͋͞҉̜̥̼͚͎w̸͈̰̝̪̟̦̑͂̈́͛ͣͦ͊ͫ̋͠e̝ͩ̌ď̂̊̂̎̄҉͙̩̬͚̰̞̭y͎̗̺͐́̏̾̅̀͌ͮo̍̿̇͟͏̭͙ū̢͍̘̩̻̼ͪ̓r̴̪͓̯ͬ̾͢͝ ͉͈̟͍̜̑ͤs̹̲̹̞̳͔̓̒̏̊̆̃͡ĉ̤͕̠͓̖͚̕̕ṛ͎̙͚̀ͣ̌̍ͫ̊͐̍́ḙ̷̪̩̞̿ͫ̄ͮ͘w̢̹̥͓̹͈̣̘ͪ̋ͩ̄̆̄͌ͭ̔͢e̎̍̽̊͋͋͗́҉͓̤ď̔̏ͤ̅̈́͠҉̠͖̥̻̱͔y͉̩̫̣͈͖͉̰ͬͨ̉͘͜͜ǫ͚͒̇͛ͩ͋̄̀͞u̬̥͙̰͓̩̭ͨ͊́̏ͨ̎̓̚͘̕r̒ͤͯ͋̆ͪ̈͏̝͚͓ ̮̬̤̟̪̺̍̈̀͢s͕̬̼̫͆͛ͨͫ͝c̑ͨ̑̅ͥͯͦ̄͏͈͔́r̝̬̩͍̤̼ͣ̑ͪ̊ͪ̈́͛̚ͅȅ̲̠̹̠̻̭ͯ͟͝͠w̲͉̗ͨͣ̑̀͢ē̛̤̦͓̫̖͚̜̦ͧ͗ͧ͂ͣ̇ͫd͇̙̩̗ͪͪͅ



[[&gt;bye|proceed]]</tw-passagedata><tw-passagedata pid="15" name="unlock door" tags="terminal" position="842,1262" size="100,100">no

you cannot.

[[&gt;unlock door|door]]</tw-passagedata><tw-passagedata pid="16" name="closed terminal" tags="" position="981,678" size="100,100">[[You have closed the terminal|terminal unlocked]]</tw-passagedata><tw-passagedata pid="17" name="door" tags="terminal" position="843,1411" size="100,100">no


no.


you CAN NOT.

[[&gt;unlock door|door 1]]</tw-passagedata><tw-passagedata pid="18" name="door 1" tags="terminal" position="842,1561" size="100,100">NO
N
NOOOO
NOONONO


NO
YOU CANNOT UNLOCK
DOOR




STAY WITH ME


STAY WITH MER3E33333333333333333R
s̵̮̮͉̻̦͙̫͓͚͂́ͪͨ̃̇̌͐͋͆̅̍̚̕͢͡t̿ͤͤ͌ͪ̓̂͒̇ͧ̄̑̂̏͘҉̙̮͕ã̢̭͓̳̗͔̻̣̳̹̲͋̾͌̇̕͜͠y̿ͩ̂́̾̈͋ͨ͑̍͂̅͂͏̨̺͍͈̝̫͍͉͖̹̰̖̦͝͡ ͥͩ͛ͤ͑̒̈́̓҉̵̰̤̞̫͉̘̭̦̬̳͚̝͍̟̫̮͡͝s̨̮̜͔̠̣̗͖̾̎ͤ͐̐̅ͣͯ̔̉͘̕̕͞t̷̛͉̪̜͙̰̲̫̗̜̬͔̭̙̖̭̹͑ͬͫ͌ͥͩ̇̒̂ͣ͋ͧ̈́̇͝a̷̛͇̙͚̙̮͑̂͑ͭ͌̏͒̈́̄̚̕͘y̶͋ͣ̿ͦ͏͏̛̳̣̫͔̲̻͓̯̮̜̟̬̗ ̷̡͍̜̟͙̭̮̯̲̩͎͇̩͊́̋͒͗͐͗̆̿̕͜͝ş̛̞̮̠̼̟̯̝͓͇̗̼͇͚̽̓͛̒͒̽̅̃ͯ̄̅͆͑̾ţ̸̡̪̻̰̟̺͎̬͓͈̪̥̯͚̹͓̜̜̦̽̿͆̔͒̍͂ͩ̌͑͟͢a̸͍͍̪̭̟̜̝̲͕̖̥̥̗̬̝̰̭͍̗̾͛̌ͪͬ̄ͮ͗͘͠y̵̢̡͚̙̮̘͈̱͉̣̘͕͔̜͇̝̤͈̝ͦ̈̂͒́̈́͐͌ͥ̆͒̊̆ͫͬ̔̈́̚ ̨̧̠̙̥̰̲̔͌̃͑ͣ̓͐̉͊̅̄̽ͥ͐̏̋̈́̕͡s̺͇̦͓̗̦̗̞̺̲̬̗̻̳̮̪̉͗͒̏ͨ̿̚͠͡t̵̨͚̗̭̟̗̟̲̟͇͇̖̝̳̋̀ͥͥ̑̔̚͠ą̨̞̙̲̠̩̜̣̩͖͋ͬͤ̂̎̽̃ͩͯ͂̽́͆ͥ͌͞y̱̰̳̫͙̫̱͎͇̜̲͖̥͉ͤͪͮ̅ͥ̋ͮͦͣ̿͑́͠ ̷̷̡͖̺̹̹̲̱̥͓̠̪̯̦̹̎͆̾̍͜͜s̴͈̻̘̮͔̠͕͙̘̺̻̗̺ͭ̽̐́͒͂̄̃́͜͠ͅt̶̹̗͕̟̥͓̟̰̩͉͖̺͎͕̏͌͛͗̾͊͘͜͞ä̤͕̘̝͇͚̱̦̤̜̗̘̫̘͙́ͭͫͧͦͬ̿ͩ͛͒͒́̕͜͝y̷̡͉̼̗̜̘̫͔̤̻͇̫̪̭ͪ̔̐̅̌̌ͫͫͬ͗̑́̀̈́ͤ̔̉͗͘ ̶̢̨̰͔̬̬̖̺͔̖͙̠̘̺̍̓̓ͬ̑͋̈́͢s͑͗̒́ͩ̀̓̋ͨ͏̷̡͙̻̺̹̳̦̲̬̥͎͙͓̙͙͢ţ̷̛͎̻͈̩̳̰̩̻̯̯͓̼̲ͩͮͥ̚á̵̦͖͓̦̈́ͤ̂ͥ̽ͧ̃͆̐̌̀ỵ̶̛̱̥̠͓̝̽̎̑͋͘ ̄ͬ̓̋ͬ̃̆͌́҉̦̜̳̭͍͇̕͡s̓̿͊ͦͭ̆̒̉͒̎̓̍̐́̚̚҉̞̜̝̼͕͖̥͎̜͖̤̘̕͟ţ̥͓̖͚̻̣͓̻͚̥̙̼̻̜̖͕̻̃̓̐̔͂ͣ̐͐̚͡a̶͖̳͚͉̫̼̤̬̖̫̬ͧ̈́̀̎̎̿͗̓y̋̓͌̈́̊̌̅̄́̚҉͚̺̲͍̠̗̖͔ ̴̵̢̞̬̙ͭ̓̑ͩͨ̽͆̍̊̽̊ͯͬ̅̐ͧ͐͟s̛̤̤̱͙͈̣̫͙̳͕͕̣̒ͪ̍̊̅͗ͥͯ͒̉̈͑́͟ͅt̯̟̮̠͓̱̣̩̺̼̲̲͙̠̳̓ͮ̍̌̂̎͌͋̄́ͫ̎̏ͭ̚͘̕̕͠ͅȃ͇͎̭̗̩̠̜̥͗̓̒̋͗͊́͌͗̆̂ͮ̾ͬ̊́͢͜͠y̧̰̥̰̣̜̺̙̣̺̏ͮ͛̈͆̏̌ͭ̅͒ͫͮͭ̀́͐͡ ̴̧̢̤̙̯̯̾͑̓̆̀͞s̵̰̪͖͇̩͍̗̼̺̹̟̻̦ͧ͂́̈ͭ̐̈͛͆ͤ̊͛̇͌̉̔̒͝͞͠t̛͓̪ͥ̃̇̋̒̈ͦ͋͌ͣ̏̽̚͢ͅa̛̞̟̫͓̳̤͈̮͑̐͊ͤͤ́̅̔̉͆y̙̜̟̺͚̻̹̰̪̲̖̣̾̽ͧ̃̆ͧ͊ͭͭ̐̊̐̑͜͠ ̢̲̳̮̰͎͇̞͔ͥ̏̾̄ͫ̇ͣ͆ͮͦͦ̔ͭͩ̒́͘͜͡s̴̜̻͚̲̦̬̼̮̭̪̰ͧ̄̅̀ͩ̍̽͟t̵̟̳̼̤̗̯͓̰̹̤̓͊ͫ̂̈͂͊ͣ͐̅̈́̂͋̒ͬ̿̈ͤ͘̕͟͡a̵̧̳̮̲̞͉̼͉̤̩̘͎̖̭̖̩͎̓̈́͗ͩ͆̾̊ͦ̋ͦ̇͒̍́̅̀̚͝ͅy̧̱̗̫̺͙͚̲̪̲̹͇̯̩̙͇͉̅̅̅ͣ͢ ̨͎̲̻͇̼̮̗̓ͮ̓̊ͨͭͨͣ͂͒̌̀̄ͭ͆̽̿͌͊͟s̈̅̄ͨͥͣͪ̃̀̂́͂҉̷̛͜͏̲̪̯̫t͍͔͕̳͔ͯ̉ͤ͋̓͐ͨ̃ͭ̔ͩ̒̌͠ȃ̰͖̹̭̮̞̫̤͇͎̞͔̙̏̄ͮͮ̆͟͝͞y̵͗ͣ̃ͯͪͩ̏̈́ͭ̄̚҉̵̸̯͕̹̀ ̵̖͈̥̜̝̄̃̈̿́̀͝ş̶̴̝͙̣̩̰̬̭̝̯̲̠̥̹̫̒̄̂̒ͭ̉ͮ̈ͧ̃̄͗ͭͣ̚̚̚͜ț̸̱͚̝̌ͬ͊͗̏ͣ͠ͅa̾̽̄̃̓ͯ̓̾ͪͭ̍̅̊҉̶̧̨̙͈̦̣̞̭̭͈͇y̴̨̺̟̗̝͍͚̪̟̹͛̂̽ͩ̄ͬͭ̈́ͯ̓̌̆ͪͧ̋̾ͧ̀̀͢ͅ ̶̴̠͉̲͚̠̙̝̹̫̺̯͕ͥͨ̉̍̆ͤ̊͌̑ͥ͟͠ͅš̀͛̉̊̔ͯ̿̆̄ͦ̇̂ͫ͛̔ͪ̚҉̳̺̭͇̙̬̺͔͜t̨̠͓͍̹͍̹̹̺̞̪̠̐ͧͥ͋͗̉ͤ̂͒̒͂̉͂͘̕͠ḁ̳̟̞̘̻̟̫̖̘̥͓̌ͪ̎͗ͭ͋ͪͨ̆͂̎̄̐͛̍̒̀̚͞͝ͅy̧̅͂ͣ̑̐̐͗͗͆̍͏̰̪͉̻̯̣̗̻̫̩͔͈ͅͅ ̸̜̪͔̤͚͎̟̻̦̯͔̤̱̣̰̯̣͙ͩͬ̌ͭ́͟͞͞s̛̼̥̼̩̞͉̘̩̝̮̳͚̲͔̩̙͖̯͆̑ͥ̏̋̉͑̎̇̔͒͟͟͞͠ẗ̵̸̜͔̼̯̮̮̦͖̙̗̜̯̲́ͭ̓̉͊͆͂͐ͮͩ̔̐ͣ̆́͑̏̑̀̚̕͘a̡̡̒̓́̿ͪ̅̚҉̰̮̲̥ȳ̟̠͙̗̾͛ͥ̋̊͋̈́̆̈ͯͧ͟͟͝ ̭̗̣̼ͨ͐̂́̀̍͂̐̀ͦͥ̑̌̀̚͞s̛̬̱͕̥̠͚̬̦̪͕̦͒͑̽̂͌̅̔̉ͫ͊̕ͅt̂̏̑̍ͪ̏ͥͪ̓҉͠͏̰̯̦̮̦͖͙̻̹͚̺͉͝ạ̸̦̥̠̬̙̺̭͉͔̳̱͕̦͉̯̤̅̎̽̒̎͊ͩ̋̀͐ͥ͌̃͒͂ͤ͊͠ỹ̛̋ͩ̿ͪ̅̃̕҉̼͙̗̼̜̯̠̻ ̵͚̺̘̘̥̙̠͕͔̼̠̣̐̑̌͑́̔ͦ̃́̚͟͜͠ș̷͎͉̳͇̱̳͇͗̋̀̈͗͌ͤ͠ẗ́̄̅̏̓̍̅̋͗̂̌̇̈ͦͧͭ̐҉̯̺̲̘̲̠̦̥͚͙̀͞ͅa̡̔͌ͬ̈̇͑ͬ͆̍͛̆̀͏̮͔̻̦̥̜̺̻ͅȳ̧̧̤̦̯̘̬̬̦̲̞̠ͦ̾̾ͤ̈́̈ͫ̋̇̎̆̐̈̾̈ͥ̇ͤ̀̀ ̧̙̙͈̗̮̮͖͙̗͈̻͐̏̏́̐ͨ̅̆̔̔̐̕̕͢͝s̮̻͈̞̫͍͆͌̏͛͆͛̄ͬ̇̊͞t̡̲̗̤͉̮̝͖ͫͪͩͪ̑̀͘͢ͅͅa̶̡̻̦̝̖̻͚͙̺̯̳̱̰͕̫ͣͭ́ͫ̇ͩ͑̾̄̎̽̅͗̆͐ͧ̕y̵̶̞̘͈͕͉̳̺̟͖̳̻͍̘͇͉̠̗̯͓͑̂̓̀ͯͬ̇̿͋̑̈́́͟ ͔͙̺͍̰̗͎̞̳ͤ̂̾̔͐̒͗͗͗̌ͮ͑̆ͣͣ͌̏̑̅͟͞ṡ̵̈͊ͪ̈ͮ̓̒͡͞͞҉̰͔̰̙̘̱ͅt̨̪͇͓̦̣͇̩̓̽̃͂̐̊̂͐͛̾ͤͪ͠͡a̢̡̡̨̝͎̪̘͎̗̮̼̤̝̤̦̤̯̽̆̐̈́͆̀͐ͪ͑̚̚ỷ́ͦ̏ͬ̃̈̾̾͊͞͠͠͏̲̬̪͕͎̻͍̯̣ ̷̵̥̖̙̮̺̳̒̎ͩ̀̆̆͒ͭͪ̄ͮͣ̾̇̌̈̉́s̢̛͚̦̜̞͚̥͍̩̼̽ͤ̏́ͥ̿ͯ̒͑̓͡t́ͧ̐ͧ́̀̕͡҉̰̞̣̝̮̫̖̪̺a̶͕͔͈̭͆̃̅̿ͥ̂́̚͢y̧̛̗̱̝͕̤̜͚ͬͥ͐̉̈̉͟ ̧͍̱͕͔̲̘͇̝̗̈́͒͗̃̇͊͟͟ͅsͣ̆͂̑͊͛̑́̿ͥͩ̉̾̀̌҉̖̹͍͎͖͎͎̩̼͉́͢t̸͊̀̑̽̀͐͋҉̢̛̘̳͚̜͚̯͙̻̰̦̜̼͚͔̤͖́ͅa̢̛͕̼̥̣̮͇̫̤̮ͩͧ̊̎̓̿̽͒ͫ̄ͦ̀̑̐ͦ̆͜͠y̷̼͖͙̦͕ͦ͛̔͌̐̌ͧ̍̎͊̏ͤ̕ ̨͓̟͖̗̣̻̼͗ͭ̒̆͝sͬ̍ͤ͌͛ͨ̔ͥͯͬ̄ͦ̈͆͆ͥ̚͏̝̤̻̟̘̤̞̺͇̞̼̳̦͚̜̤͖͖͟t͈͇͖͔͈͎̖͖̣͚͖͋̿̎̂͊̇̃̅͊ͦ̕͜ͅͅȧ̷͇͇̩̘̯̩͍͖̭̤̻͔̟͎̥͙̖̈̂ͭ̇̒̓͡ͅͅÿ̸̛͉̩͍͉͉̤̬͎́ͩ̂̈́ͬ͝͡ ̧̳̪̘̼͉̭̲͖̲̰͛͑̂ͯ̀́́͝ͅș̵̻̪͉̝͓̞̞̩͓͚̗̃ͮ͑ͯͬ̓̋̎̉̅̀̕͠͝t̷̓̏̃̉ͣ̆̄̃̋ͮͫ̇͏̳̩̘̜̯͡a̢̢̧̔́̃ͬ̌ͨ̾̾̓͟҉͚͍͈̤̖̩̖̪̱̬̗͙̩̻͍̮̮y̵̡͙̖̻̘̮̮̝̞̎̓̍ͮ̂́͑͂̽͛̑̒̿ͨ̀ ̸̓̇̈́̃͋ͬ̒ͩ̅̋̓ͮ̑̀ͫ̔͂̓͟͠͏̠̜̟̼̞̹̟ͅͅs̵̵̝͈̦̰͎̠̀ͤ̈́ͧ́̈́͗ͥͣ͗͌̚̕̕͢ţ͋̍̎͂͌̌ͮͯͬͮ̈́̚҉͉̜̝̬a͂͛̏ͪ̂͋ͯ̍ͨ̿̽̍҉̞̤͕̮͝y̵̧͇͚̗̰͖̞̗̦͚͕̲͔̖̳͍̜̙̩͒͊͆̈́ͤ̈ͯ͒ͬ̽ͦͯ͊͐̾̾̕͘ ̧̛̫͖͍̻̲̠͇̫̦̝̮̓͗ͤ̐̿ͥ̉͑̊ͫ͑̈͌́ͅsͣͤ̆͛ͬͯ͐̈҉̷̶̗̘̗̳͕͔̤͓̣̝t̨̻͚͔̳̜̬̮̻̘͇̼̭̠̹͈̟̙͛́͂͗ͩͥ̕͘͡ą̵̧̛͈̬̺͈̹͚͕̲̺̙̟̻̳̲̖̄̌͗̈́ͅy̋ͨ͂͗͂̇͑ͯ͛ͣͯ̽ͦ̾ͨͮ̈́̍҉̗̲̖͚̮͡ ̸̷̢̙͍̬̳̙̪͓̰̼̰̙͉͇̫͉̫ͪͥͫͤͩ͛͋̉̍̄ͫ̚͡ͅs̴̙̣̯̖̖̼̪̖͈͕̦̮̲̜̦̄̊ͬͦͫͥ̒ͪ̕̕͞ͅt̸̸̄ͪ̎ͥ͆̑̇͑ͩ̓ͧͩ̓̀̚̚͏͙̱͉͉̯̜ȃ̛͉̙̩̝̣͇̺̮̆ͫ̆̒͐̂ͭ͒ͫ̐͜͠͝y̷̵̺̙͙͎̮̻͔̫̩͕̺͚͕͊̏ͭͦ̈̓̒ͪͤͧͩͮ̏̇ͩ̐̄ͭ̀͘͜ ͨ̌ͧ͑͒͑͂̆̅̄̍̔̌̊̓ͨͤ̈́͞͏͕͉̱͎̪͇̲̦͓̦̘̬̦͔͖͖̤̜s̱͓͙̱̈̈́ͯ̇ͯ̇̇ͦͯ̇̿́̀̚ͅẗ̶̨̞̦̳͇̖͎̱̙̮͚͚͙̜̟͖̮́̐̎ͧͯͧ͆̋̽͋̈́͊̓̊̂̓̌̚͘͢͡a̓͐̉͒͂͘҉̥̯̰̦̭͎̘͚̘̥̼̠͕̦̦̕ͅỳ̶̬̼̹͙̩͗ͪ̈́̃͒͗ͯ̓ͤ͑̈ͅ ͯ̉̅҉̟̜̗̞̱̥̩̝̗̦̣̯̘̟̹͙̹͍̮͢͝͠s̡̡̗̬͓̗̣̼͉͓̼͇̺̭̬͈̳͕̪͑̿ͮ̓̓̿̍̉̇ͪͬ̅ͪ̈́̋̎͑ͯͪť̷̴̶̢̝̫̙͉̘̂͛͊ͯ̍ͧͪ̋͒͊̆ͩ̾ͮ̕ͅaͣ͒͗ͤ̾ͧ́̾҉̡̢͍͎̘̹̣̳̺̭̳̀ỷ̷̞̞̝̖͇͎̖̦̭̝͇͕̜͔̯̦͓͋̂ͥͩ̐̓̈́̆̾̓ͫ̏͑̊̌͊̎̌́ ̶͖̳̖͍͈̰̗̰̺̯̗̜̾̒̾̊̓ͧ̊̈́ͩͣ̑ͨ̓̓͟s̸̨̛̞̺̙̺̞̰͈͚̮ͪ͒̌͊̾͜ͅţ̸̸̢͚̘̮̩̟͖̜̰͓̥̺͌̄̓̈̀̌ͥ̍͒ͨͧ́ͅã̧̭̭͉̜̭͙̜̭͇̭͍͖̬̥̣̖͓̝̈̔ͩ̂̿ͣ̽͗̐̍͂̂̕ͅy̨̢ͯ̅ͥ̿̓ͣ҉̗̞͙͙͉̟̤̬̬ ͗̉̽ͪ̈ͫͭͥͤͩ̚͡͏̰͔̩̘̱͇̘̫̮̟͕̳s̵̈́ͨ͌͌͌ͫ͑ͧͨ̒ͣͦ̆̉͂ͧ̌̄͏̲̦͔̤̹̲̼̬͓̹͚̫̞̹̭͕̘tͩͧ̈ͮͭ̑̊ͩ̀ͤ̐͏͈͔̖̹̺͘a̛͚̫̥̬͔̥̬͖̯͍͇̤̫ͬ͑̇̊̄̓̓̅ͩ̅̌́͢͞y̶̶͉̙̪̩͍̝͕̠̩̭ͤ͒̋ͣͮ̒ͥ̃̔̇͡ ̸͉͓͖̯̜̩̼̰̹̹͖̮̤͍̭̩̻̉̓̿̃̓̾͐͗ͮ̚̚͘͟ş̷̴̨͙̲͙͖̤̙̪̜̠̗̥̝̀̈́̐̀͛̿t̼̪̼̳͚̫͉̱̘̺̖ͩ̋ͬͫ́͟ḁ̴̡̫̥̰̟͙̬͍̩͕̺̭̖͌̃ͭ̏͊̾ͩ̽ͧ̑͜ŷ̨̨̫̞̦̣̗̬̖̮͕̯͔̬̳̈́́̏̽ͩͨͪ̋̾͝ ̎̍̅ͥͤ̔̎̑̅ͬ͊́͏̷҉̯͈̗͔̮͕̫̭͉ͅş̔́͑̑ͯͣ͋͐̂̈́͑̈̿̄̊̀̚͘͟͞҉̬̻̮̱ţ̴̆̉̂͛ͫ̽҉҉̸̤̯̺̰͍ͅͅa̴̷̢̺̲͔̫̮͓͖̙͍̣̱̲̙̍̂͆ͩ͆͆̉ͬ͆͆ͩ̚ͅy̔̉ͬ͒̄͌̽ͨͩ͑̌̒̀҉̴̦͉̪̘̭̟͍̳̯̞̱̞͔̻͍͙̗̞͍ ̶̧̥̠̫͇̝̭̝̳̝͔ͩ̋̇̊̔̂̅̓s̍̔ͤ̑ͮͦͦͧ͋ͥ͂ͯͫͥ̾ͦ҉̷̵̨͚̝͙̜̣͎͇̙̱̭͡ͅt̑ͥ͗ͣ͟͏͔̯̳̤̥̗̙͍̬̠̘̖̟̥͚ą̛͈̘̣͇͖͒ͭ̾̊̀͑͑̆̈́͊ͧ͆̏̓͝ͅy̦̤̤̯͙̳͇͉͖̱̼̱̲͖̎̂ͯ͑̕ ̹̮͙̟͈̉̒̅̋͐͊̈́̈̚̕͝͞s͂ͧ̋ͯ̃̈́ͬ̂̂̆̋ͬͬ͌ͪ̐̽ͥ̊͡͏̗̪͉̤̩͈̣̪̙̙̱͔̤̣̬̙͕̥ͅt̴͎͍̟̯͉̺͌́̔̐̊̃̃́̕ḁ̸̸̻̣̫̲̙̬̗̙̹̦̜͈̫͚̦̏͑͆̀ͅy̴ͣͨͩ̐̔̃̇҉̶̠̯͓̗̖͍̥͢ ̵̧̰̦̝̘̭͙̳̣̭̏ͫ͂ͣͥ̄ͪ̓̄ͩ̌͐̈́ͣ̂͝sͪͥ̒̽̒ͫͪͤ̊ͥ͠͏̟̼͉̣̟̦͞͠ṯ͓̥͍̟̟͖̙̭̯̪̝̘ͯͬ͋̉́̈ͭ̈̃ͩ͑̾͛̆̆ͭͥͥ͟͢͞ͅa̶ͤͥ̉ͥͮ̎̒͛̎̿̀͝͠҉̮̮̻̮͖y̢͓͔̙̯͙̮͍͇̖̯͉̜̯̝̣̬ͥ̎̆ͭ̄̿̒ͨ̌̈́ͦ̂̋͂ͪ̚͝ ̴̷̧ͯͩ̏ͯ̀͏͕̝̝͍͚̺̪̪̳̬̲̩̱̯s̵̮̙͖̰̠̫̪͓̯̣ͤ̀̏͋ͪ̓͋͊͐̇̎̇̐̈́͐ͬ͡ṱ̺̩̮̞̖̺̱̱̂̐ͦ̑̍̏ͤ͆̚̚͜͞͡a̐̉̆͌̏̀̚͏̹͕̤̹̠̩̲̖̟̜͢͞y̨̛͖͖͍͕̼͉͇̞̬̼̹͈̫̞̝̖̖̽̓ͤͨ̊͒́͡ ̷̋̄̌́ͥͤ͊̽ͨͬ͌̏͋ͦ̈́ͣ̚҉̷͝͏̣̹̻̰̙̹̰̖̺̟̫̼̬͔s̸̜͉͚̙̭̜̘̟ͭͪͨ̑͐ͩͦͫ̃̍͆͛ͩ̔ͭ͊̀͜͝t̡̡̧̰͙͓̬̦̱̲̩̥̜̥̊̏̏͛͛́ā̛͙̜̬̮̹̱̜̗̝̱͙͇͍̰͑̂ͯͮ͆͋ͮ̅ͣ͛̃͌́ͭ̑́͘͟y̨̛̮̥̣̙̻̱̣̝̲̱̲̭̺͉ͨͬͥͤ̈́ͩ͒ͅ ̸̧̠̠̼̖͕͎̫̣̹͓̞̠̲̱̍̋͌̇̏̓̋̔ͧ̐̌͋͐̑̓ͪ̉̚͟͞ṡ̩̫͚̘̦̮̹͖̜͔̻͚͖͚̓̈ͮ͆̉ͫͧ̏͑̽̀̈́̅ͩ̒͋͘ͅt̵̘͖̰͖̣̝͚̹̦̹̖̯̦̹̯̝̼͛͌̀ͪ͂ͧͧ̇̉̎̀ͫ͋̐̉́̚̕͢a̴̢͍̞̫̳̼̲̺̲̫̻̘͎͋̄͑͋́̚ͅy̨̩͚̭͇̯̺̼̓ͧ̾͛ͤ͆͒̍̔ͬ̀̌ͯ̽ͨ̔̀̚͢͢ͅ ̉͑͆̒̉ͥ͑҉̷̞͓̞͕̟̥͈̱͍̳s̸͇͍͎̻͓ͥ̊͆̄̓̈́ͫͦ͞ṭ̵̠̯͔̥ͥͧ̓̃ͤ̿̒͆͒̌̍̍̎͛̎͢a̷̵̧̱͖̻͚̫̼̤̜̫̰̯̹̞̮ͧ̇͐ͨ͑̆̃͗̇̿̈́̅́̏ͣ͌̇̂̚ͅͅy̢̏͗̂͒ͨ̀̈̌̀ͤ́̅̅ͬ͌ͦ̈́̓͏̫̳̼͕͓͇̥̼̗͈͎͎̰̜̗ ̶̶̶͚̖͈͙̹̳ͦ̾̒̾͒́͛̏ͦ̒̓ͩͥ̈́̏ͣ̍̚s̡̡̧̭̱̪͚̖̙̟͔̤̺̱͓̳͊́̉̾ͨͥ͆͊̆̅́̿̒̚͠͝t̸̢̫̝̲̣͕̜̮̭͕̼͇͓̬̹͖̜͂́̀̈́͗̆͆ͭͤ̚̕͘͟ä́ͫ̍̇̚͏͔̯͓͍͙͙͍̗̰̰̟̥͙͓͈̜y̸͈̠̰̘̥̺̮̻̥͇̭̺̲̭̬̦͎̱ͣ̈̑ͦ̉̆̇ͣ̄̃ͫ̓ͫ͂̈́ͯ́͜ ̷̡̢͖̬͈̪̰̗͙ͧͪͦͭ̍́s̷ͦͥ̇̑͑̌͠͏͎̫͓̲̙͉̜̤͈̰͙͈͚͎͎̟̜̳͞ͅt̴̔ͩ̊̄ͭ̇͟҉̹̲̳̫̦͖͙̼͍̙͎̺̗̦͖̭̯̭͠ͅa̠̻͓̳̯̞̰̲̮̬̒̍̿̑̑ͭ̽̆̾̆̍͛ͭ͛̍̓̀̔̚͡͝y̵̵̢̛̫̞̠͍̮̜̬̾̾̉ͦ͑͐͊̉̏ͩͥ͑́ ̶͋͂ͪͭͨ̂̄̍ͦ̚͘͏̺̥̥̺͔͍̣̫̘̯͖̤̯́s͗̐̅ͩ͏҉̝̻̗̰̗̝̣̱͚̳̼̺̙͕̻̲ͅt̷̡̟͈͔̺͈̣̝̣͙̙͈͚̯̜̫̾ͧͭ̋̏͌͆̅ͬ͒̊̃̅͢͞a̘̥͖̼͖̜̝͖̠͈͊͐̈ͭ̊́̏ͯ̿́́͜ỵ̵̵͔̬̙͍̬̻̪̦̹̼͕̰̟͚̹͔̇̍́͗̏ͧͪ̊̃̚ͅ ̹̱̺̗͓̗̟̙̝̬͂̈́ͧͬ̀̕̕͞s̮̯̥͎̠͈͐ͨͩͭͣ̉̓͆ͧͪ̈ͮͮ̀͝ͅͅt̶̢̹̞̠͈͕͍͚͇̪̱͔̤̝̗̫̺ͩͧ̄̔̏͑ͬ̿ͥ́ͩ̓ͤ̋̀̔̀́ȁ̹̫̘̼͈̘͓̝̤̞̥̤̭̟̳͙͔ͣͩ̔̅͐̏̊̂͛ͬ̿͊̚̕͘ͅy̸ͩ̔́͒͋҉̷͎̻͈̼̫̗̙̟͈̦͎͍̯̙ ͂̏ͫ͒͊͒ͪ̃͊̌͟͏̨̡̙̺͓̠̦͕͓̱s̶̎̋̎̒͐ͨ͆ͭͭ̏͛̎͑̓̊̚͟͏̱͍̹̦̩͇̮̯̰ţ̶͇̯̳̺̩̤̘͙͍͓̹̺͓͍̤̰͈̺͉̇̃͊͂̑̂̈̒̏̓͋̈̓̃̌̂͂ͦ̀͜a̲̫̹͙̯͇̝̺̲̔͒̾̔ͦ̈͛ͥ̚͜ȳ̸̠̭͔͓͚̰͓̺̖̣̜̰͔̳͍̅͂̉̇̓̓̌̃͌̑̕͢ͅͅ ̛̄̿̈̔̏̃ͣ̂̌͊ͯ͆ͣͩ͠҉͉͍̱̙̟̟̪͉͈̙s̷̨̖̯͎̤̭̮̱͔͍̳̒̿͑͑ͮ͊ͨ͑ͪ̐͆̌̚̕͜͝t̴̛͍̘̬͐̓̍͂̎͂̈ͣͪ͒̎͐͘͘͟ͅă̸̧̲͔̤͓ͭ̉̉̚͜y̢̛͔̲̲̬̩̠̹̺̼̮̭̹ͭ͑͌̿ͫͫ̑̀͜ ̶̴̴̢͖̱̼̹̰̬̈́̌̆͌s̺̬̟̻̲̲̯ͦ͛́ͭ́̀͌͋̀̀́ͅṱ̳̣͇̤̲̮͙͕̻͍̜̼̥͕͚̣̈ͩ̈́͑̓̍́̕͞ă̸̧̦̦̙̲̺̭̲̲̺̝̩̳̱͗̈̉̔ͮ̄̃̉̌̍ͤͧ̐ͪ̊̿̚͜͠ͅy̶̾ͦͨ̒ͣ́̽̒͊̏̆͑̾͛̒̒̏̅҉̷̫͕͚̮͓̲̣̪̠̜̫̳̟͡ ̍ͤ̌̏̓̉̍ͭ̽͋̆͑͑͏̫̗̜͍̣͙̳͓̖̯͇̞͍͔͢ͅş̣̘̯̱̠̺̘̼̹̱̞͕̤̠͎̣͙̅̓̾͛̑ͨ̈́ͮ́̃ţ̯͓̰̟̰͈̮͈̦ͥ̄̇́̈̌̑̉̂ͫ̄̌͗̚̚͡͠͝a̸̪̟̲̳͖̜̺͆͒͛̔̐ͪ͒̈̈́ͤͤ̇̓̎̈́͗͟ý̵̢̟̮͓̗̱̹͇͖̠̟̘̝̱̗̫̺͎̘ͣͩ̋̂̓ͩ̄́̆ͥͨ͋̚̚͘͡ͅ ̬͉̲̝̣͙̮̊̃̄̊̉ͤ̐̃ͭ̓͡s̽͂̌̏̓ͬ̒̆̊̔̉͠҉̗̼̯̭̗̱͚̮͖t̵̶̸̬̝̥̝̗̗̹̦͖̳̮̘̝̣͎̙̳̲͎̋́͌͋ͫ̊̂̔̉͆ͮ͂̆̑̍̕ả̷̴̶̗͙̥̯̺͈̝̙̞̮͇̗̟̠͆̈̈́̚͟y̷̳̲̲̜̺͕̭̲͉̖͆̄̍̃͊̽̊͆͠ ͪ̔ͧ̔͐ͨ̈́̈́̄̋̅̔͌̓ͮͯͣ̚͡͝͏͍̲̫̱͖̼̩̪̱̬͖̲̻ͅs̢̛̹̤̩̱͇͍̰̞̜̞̩̫ͫ͒̂̈́̿̐ͥ͂́̆ͦţ̧̡̤̼̯͉͙͕̤͔͎̘̙̙̠̞̭ͧ̇ͮ͗͆̆͒ͭ̄̕͢ȁ̧̐̄͐ͦ̋͠͏̧̟̺͓͎̳̺̻͉̪ÿ̵̘̘̮̲̟̬̘͇̯̯̮̳̤̠͈̩͙̖́̍͒̍̓͝͝ ̵̨̝͙͕̘̳͇̟̥̠͙̫̩̯̭̭ͤͪ̆ͨ̉͢͝s̴̖̙̻͎̬̮̖̤͓̤̈́́͑̀̈́̋ͧͣ̍ͥ͞t͚̫̞͚̗͈͔̯͇̑ͥͬ͒̌̄̎̃́͑̍̒͛̌̈́̚͟ǎ̉̃̍̀͆̈̓̽͊ͤ͏̵͍̙̻̞̱͇̤̹̘͖͚͘͟y̷̡̦̙͔̱̟̣̠̖͋̑͌̈͐̈̄ͅ ͔͈̟̭̦̑͊͛ͭ̒͛̆̑̒̏͆̑̎̀̚s̈͊͑̎̍͒̾̊ͪ̒̄͏̸̛͎͙̠̳͉̻͇͓̻̪̪̰̭̜͚̣͚͢t͓̗̻̬̞͔͉̬͇̦͎̠̲̙̪̤͌̈̽̌ͤͥ̀̋̉ͥ͆͂͛ͦ̀͡a̙̙̩̙̰͈̻̜̫̻̘̪̰̥̲͔͒̒̋̍̾͗̌͒ͣ̀͝ͅỵ̖͍̘͇̫̠̏̇̌̈͛̒͋͠͡ ̴̶̶̩͉͉̲̤͉͉̭̹̾̎ͪ̍̆͒̈̈́̍ͣͬͅͅş̷̤̦͕̩̝͈͚̺̙̞̼̯͍̘̞̉̓̾ͦ̿͊͂̑ͮ͐̆̇̇t̸̝͍̟̖͍̟̋̃̍̈ͩ͐͒ͥͦ͐͂͒́͟a̶̛͈͇̖͚̩̠͈̞̼̜̤̜̯̬̅̓ͮ̂ͤ̽͋̄̽́̚̕y͗͋͒̓ͫͧͥ͂ͤ҉͏͘͏̯͇̜͍͉̠̖̝̳ͅ ̨̛̺̗̯̩̒̌̄̄̎̈͆̒̆̓̃̚̕s̨͉̘̥͎̜͍̙͓ͯ̉̽͐̈̈ͨͣ̄ͬ͐̐ͧ̓ͯ̍́̕ͅͅt̵̛̝̲̺̬̼̝̻͆ͨ͒͆ͭ̋ͪ̉̌̽̓́͟a̶͇̼̹̬̞͕̜̝͓͚̝͍͖̽́́̓̈́͌̄ͮ̈́ͩ̆͜͝ͅͅÿ̡̼̣̬̙͈͍̩͍̙̜̹̩̮̮̥́̃ͣ̂̽̅̃͒̔ͧͣ͡͡ ̴͎̲̘͕̝̣͖͕̝͚̠̞͒̓̍̅͛͆̓͛͊͊͒́̀͢sͣ̈́̎͒͋̒͐͐ͭͬͭͯ͌̍ͧ̅̽̎̚҉̩͎̻̻̻̖̺͙̝̠͓̮͢͜t̅́ͬ҉̴͜͏̣͙͕̱̦̗͔̱̜͉̠̖̭̞̗̤̘͎̤a̶̛͇͉̩̦̠̣̯ͪͦ̽̇̽͋ͯ̇ͨͧ͘͜͜y̡ͣ͂͋ͣ̈́̓̑̆͂͑͒͘͏̘̪͔͔̺̹̤ ͓̱̺͎̗͇͕͈͍͖̄͗̑ͪͯ̓̆ͥ͛̉̍̔̅̽̿́̿̈̀͘s̶̡̥̱̟ͮ͒̾͂̈͊̂͑̈̒̎̇͐̄̄ͤͭͧ͘͡ţ̧̺̠̼̹̜̟̙̳̪̥̠̯̤̲̰͉̈́̏̒ͩ̍ͭ̃͗͠ą̰͚̟̬͕͍͖̻̱́ͫͦͨ̉́̂ͪ̓͗̄ͨ͘͝ỵ̧̗͎̰̖͔̤̤͉̣͖̬͍̠̤͇̼̐ͥͪ́̀͊̊ͩͤ̑ͯ̚͜ͅ ̴͕̱̼͖̹͙͚̙͖͓̣̖͓̦̀ͣ̈́̂͒͋ͤͤ̆̍͐̈ͥͭ̕̕͢s̸̛͐̎͂͆̈́̍ͬ̆̉̑̚͞͏̱͓͉͔̼͈͇t̷̵̨̞̦̤̞̺̭̳̣͉͕̤͔̪̥̯̫̍̑͑̅̋̉͜a̸̸̯̘̖̞ͨ̍́̒͗ͭͮ͋ͭy̥̹̠͈͈̮̫͓̤̭̰̜̦͉͚̳̘͑͛̓̽ͧ͐ͬ͑͗͌́̚͜ͅ ̢͈͈̠̻͓͍ͦͯͫ͗̐̄̌ͫ̓̓̌̿̐̄ͦ̀s̵̓͒͊ͭ̒̈́̾͌͊̑͗̚҉̛̳̼̦͕ţ̧͎̙̜͔̻̪̼̼͉͕͔̮̱̌̈͒͂̆̿ā̧͎̼͙̥͍̼͇͙͇̜̰̪̺̥̱̝̑ͩͯͭ̐̾ͤ͌ͪ̍ͬͪ͆͆̏̀͞y̴̸͙̗̲̖ͪ͗ͤͨ̒̽ͭ͗̑͊̅ͯ̀͋̀͝ ̸̒̂͂ͮ̾ͧͪ̀̌ͬ̀̔̚҉̡̲͙̜̲̹̘̭̲̤̬̥̬͍̺͕s̔̽͌ͮͫͭ̔̈̂̔ͯ͌̀҉͓̣̟̜̫̫̻̝̠̩̭̱̙͢͝ͅt̷̢͓̣̫̘͚̪͓̦̫͊͑̽̑ͣ͆ͦ̔́ͫͯ͛͐͂̋̔̑͘͘͝ȁ̼̙̰̠̳̺͖̝̺͋͑͗̀y̶̨͛ͥ̀̐͟͏͚͚̳̝̫̤̠͉͓̳̩̖̤͔ ̵̴̴̲̬͉̟̤̘̯͔̬͖̮̬̤͉̣̩̼̳͕͛̓̿ͩͭ̏͋ͭͯ́s̷̻͈̲̱̮͈͉͖͙̦͖̩͇̊̑ͭ͑̇ͧ̆̃͗́̽̓͆̀ͯ͢͠͝t͑ͯ͆̐̿̆̆̇͆̆̑͐̓̆͂̂̂̚҉̪̞͖̹̯̹̟͈͎͜a̼͔̬͖̯͈̭̖̫̖̺̻̦ͣ̅ͩ͒̉͗̃͜͟͡ͅͅy̷͔͔̤̜̝̭̬̤̭̪͈̖̳ͧ̃͂ͮ̆ͩ͐ͭ̓̀̊̂̅̓͊̚ͅ ̶̬̝̠̻̣̭̦͓̖̟͓̭͎̲̝ͮ͑͊̈̈́͒̌͗͞s̮͙͍͉̪̥̬̮̠͙ͬ̊̽̆̆̌ͣ͛̏̒͘͡ͅt̸̘͖̲̭̭͚̠̹̥̩̮̭̣͔̍̈̂͑̋̒̋̊͛͛͆͛ͬ͗́ͯ̓̅̒͟͜aͫ͊̋̀͏̶̨̨̣̜̯̳̜͙͈͈̗̮̟̘̱y̷̡̛͛̂ͦ͂͒̄̉̐͑̈ͨ͂̚͏͍͉̗̟̞͙̫̩̣ ͉̯̭͍̖̪̤̺̦̰̄̂̂ͧͤ̆͂͘͠s̸̵̛̰̱̼̜͕̝͎̥̼̭̹͇̲̭̦̎ͦ͌͂̉ͫ̉ͫͬ̆͝ͅͅͅt̴̶̯̻̪̖͉̗̲͔̺̬͍̞͉̣̅ͫ̇ͣ̓́̐̉̾̅͆̈ͭ̄̂́̚̚á̾ͥ͗ͦͥ͆̋͗̎̄͠҉̳͉̘͇̥̪͔̭̣́̀͢y̵̸̛͎̳̼͇͍͓̗ͮͩ͆͗ͬͯ͂̃ͥͤͭ̋̔̃̐͐̉ͥ ̧̛͍̘̬̙̼̠̮̩̪̦͕̻̖̽ͬͭ͂́́͟ͅş̧̧̜͚̘͖̫̦̥̰̝̱̳̻͉̏̉̓̓̓ͬ̌ͪ́ͩ͂͛͢͝t̵̵̨̙͉̪͙̝̣̥̤̉̀̄͒̚̚̕a̒͋͛͋̂͑ͭ͊̎ͧͭ͏̸́҉̠͙̦̦͙̘̟̬̩̩̬̦͙͎ͅy̵̵ͧͧ̐͐̌̓̿̚҉̧̰̘̦̻̫̻͇͕̱͍̘͍̤̤͟ͅ ̶̵̢̦̪͚̲̖̮̝̤̥̭͕ͤ̿̿ͤ̓ͧ̂̇̈́̅̒ͨs̸̷̨̬͕̳͎̻̱̲̼͙͈̭ͪ̈̔ͭ̄̐̀́ͯ̉̔͊͜͞t̶͉̜̥̘̲̮̹͕͉̩̟̒ͥ̋ͥ͑ͦ͒̃͗͂̇ͬͫ̚͘͢ͅa͔͍̱̫̦̠͚̭͐̃̒͜͜y̡̘̯̟̳͖̩̲̘̳̰̮͌ͨ̓̀͛̓̉̽ͦ͊̾ͥͬͧ̾ͨͤ̓̀͡͝ ̜̞̪̟̹͈͙͈̗͙̭̩ͩͧ͗ͪ̀͢ͅs̶̡̲̗͍̜̬̟͇̙͉̣̼͎̱ͥ̎ͤ͐̈́̋͆̈́ͧ̈́̐ͯť͔̜̳̜̦͙͎̞͇̝͍ͩ̄̒͛̈ͦͣ̋̀̀͋ͬͤ̆̄̀̈́͜͠å̶̴̢̙̜̰͕̻̰̮͉̻̎̽̓̄̉ͧ͘͝ͅy͆ͣͭ̏҉̧̰̣̫̠̀̕ ̒̊̾̎ͮ͂ͪͬ̉ͪ̐̊͆̄ͩ̏̾҉̛̙̗͔͔̩͈̝̪͓͟͠͡s̸͓̰̝̬̻̭̠̗͓̹̔̇̀̈́̎͛̆̂̀͞ť̶̸̡̳̪͕͔̠̫̮ͦ͛̐͛̒ͫ̂͋ͫͤ̐̾͋ͭͪ͜͞a̧̤͔̥̰͈͔̩̞͚̮̞̟̪̝̯̻̟͒̆̓̈͌̀́ͅy̡̭̼̟̠͕̦̜̝̼̻̟ͬ͋̍͆̽̏̋ͩ̓̀ ͇͔̱̩̰̣̙̱̜̣̘̻͈̫̂ͦͭ̓̄̔͒̾͊̋̔́͗ͭ͠ṣ̴̷̤͙̜̝̯͉̪̜̯͕͚ͫ̐̊ͣͭ̏͛̑̐̍̌͌͋̎t̶̋̀̍ͬ̅̊̑ͥͣͫ̀͞҉̣̳̜͎ą̧̩͉̤͔̬͙̹͇̣̻̯͓̤͓͛̔ͦ͆͘̕͜y̲͈͕̗͓̘̳͈̺͖̖̼͈̞͓͈̞̘ͩͥ̎̌ͨͫ͗ͥ̈́͐͂̽́͘̕ͅ ̫̞̲͖͋̉ͥ͛͐̐͂̏̾͗͐͆ͧ͂̌̎͗̒͘͞s̶̴̵̶̡͇̗͍̗̮͈̻͙̯̺̰̘͖̓̂ͬ̌͋̃̏ͪ̒̊t̬̫̦͖͕̰̭̼͓̗̬̯͎̯̤̺̂̽͐͗̀́̕͟͠ą̸̵̸̘̻͍̼͙͍̳͔̜̙͕̭̱̳̪̪̀͌̽͊̍͛̏y̶͕͕͚̘̾ͯ̿̉́̕͝ ̶̴̴̰̻͇͚̥̰͈̠͇̰͚̘̹͇̍̓ͧ̓̅̎̊ͧ̽̑ͦ̌͒̃ͣ͝s̠̖̠̦̬͓̳̙̽̓ͥͣ͂ͭͪ̂̽̅͛͌͆ͧͮͮ̈͟͠t̵͎̮̙͈̝͙̘̖̖͉̭͎͔̮ͫ̉̒ͪ̋̐͒͐̾͂̊̚͘͜͞a̛̩̫̦̎ͬ͋͋͑͗̐̏̾ͮ̿̍̽ͮ̀̚͞y͆̉̎̅͋̅ͪ̔̾̉̔̈́͐͂̌ͬͩ͂͏̣̟͔͕̠̲̣̖̜̞̬̣̞̗̥̺͇̜̕ͅ ̿ͧ̾̿̄ͬ̊̚҉̶̱̤̭̼̟̙̦͞s͑ͨ̄̒̂͂ͨͥͯ̅̆̚͏̢̲͈̣̣̤̫̪̝̼͖̣̲̼̣̳̩t̎ͤ̒́ͤ̿҉̧̧̰̰̫͓͓̺̖̗̯̠̮͚̮͠͝a̴̛͖̰̺͇ͤ͑ͩ̕͠͡y̸͊̐͗́̍̅͋̇̾̑͊̋ͥ͢͠҉͖̥̗̬͓̙̖̙̱̘̱̱͕͖̮̯ ̂̍̒́́ͩͩͭ̃̉̎͂̑̉́҉̴̭̬̞̤̳͙̦̲͍̼͎̫̹͈͞s̜̻͙̳̭̩̐̑ͮͨ̓̿̾̀́̚̚t̡̢͉͉̗̜̱͑͆ͩ͋ͣ̏ͥ̍ͫ̽͐̃̒͘͡a̢̬͉̖̱̥̖̩ͮ̈́ͬ̐ͥ͑́͆ͤͨ́̓͜͡ͅy̛̹͙̣͎͍̺͕̦̪̲̼̫͍̲̋̌ͭ͆͑ͮͥ̈ͬ͟͝͝͡ ͇̫̥̯̗͖̅̇̄͋̅͌ͭ̋̄̉ͬ̂̚̚͟͞s̵̸̖̰̦̅̔ͩͭ̀ͦ̀͟ͅṫ̢̛̙͔̝͓̪̞̻͑̋ͨ̓̃̄̎ͥ̆ͧ̑̚͟a̟̰̖̲̳̪̞̗̘̤ͣ͆́͌͋̉̓̆͂̿͟͡y̶̴̧̱̖͓̙̲̬͙̬̰ͥ̓ͯ̈́̂̐̒̀̀ͪ̄̕ ̴̧͚͇̤̝̺͇̥̻̾̽̋ͨ̃́̍ͨ͋̈́̂̏ͯͥ̃̌̚͝s̡̻̰̫̗̘̗̠̬̯͓̟͍̺͊̅̉ͦ̆̓̑̅̓̆͂́t̸͎͚̻̟̭̪̟̠͍͑̐͗ͦ͌̃͌ͯ̇̅ͪ̓̒́͝ä̸̧͕̥̠̱͇̣͇ͮͪ̉͊͑͊ͮͅy̴̴͚̝͓̻̘̖̹͓̺̾̒ͪ͗̄͌̋̏͌͑ ͗̂ͩͪ̾̑ͩͥ̀̀͢͡͏̴͕̙͈͔̗͙s̵̗̦̳̜̫̠͙̯̰̙̹͓̼̜ͮͨ̎͑͂͂̽ͯͬͬ͆ͦ̎ͦͥ͒̊͠͠t̸̵̹̻͉̝̻̼̪̣̳ͮͦͭ̊͘a̵̢̘̥̗̗̻̝̠̜͉͋ͪͭ̏̀̿ͯͭͣͦͥ͋̎̆̃ͨ̅͘y̏͛̒̌͌͊̓̂҉̢͔̝͇̻͎̀͝ ̷̼̻̜͉̜̯̬͓̺͍̟̳̗̭̳̪̗͆̂̈́̽͋ͧͬͥͧͯ͗͋̚͢͠s͎̣͈̖ͬ͗̽ͪ̉ͦ̄̽̎͢͞͠t̶̷̨͙͕͔̘̩̬͖̩̪̫̻͖̦̼̣̳̖̝̱̄ͨ̆ͤ̆̄͑̒̅͗̆ͧ͆̃́̀̚̚ă̛͙̼̣̦͚͓̆͑̉͂̇̓̿̅̀͂ͤ͒͜͞͡ŷ̯̫̘̯̮̘̰̖̹̣̍̽̓͐̍ͥ̍̓͛͑́̍͆͒͌ͬ̚̕͠͡ ̡̛̜̩͚̮̭̟̯͍̝̠̲͍̬͚̙̺̙̖ͭ̈̔̿͑́͆̑ͮ͛ͪ̈̃̔̀͝s̸̷̤͍̞̰̬̰̈́̆ͥͣ̀͗ͮͧ̎ͣ̃̐̂̃̀̕t̶̢̨̼̰̻̩̮͇̝̝̱̲̳͖̩̖ͯͦͤ̑̑̇ͫͩ̈́́͟a̢̢̰̹̥̰͍̦̠̼͍̠̠̰̱̬͊ͬͧ͋ͪͩͨ̇̀̒ͮ̎̐͊́ý̈̓̑̉̈́̾̀͛ͣ̀ͯ̊͆̿̎͜҉̴̢̞̼̬͙͇͙͍̤̜̬̹̹̼̘͇ ̶̸̭̼̭̤̳̳̦͈͕̠͎̎̾ͪ̒̓͐̍̾̐̓ͧ̎́ͫ͋͗́͝ś̉̌̍̊ͮͥ̏͆ͨ̋̇͏̴̵͓̲͉͎̞̩͎̦̫̳͈̯̪̤̥͓̹͉̱͘͠ť̸͔̤̰̺͍̝̭̬̤͗̐̑ͫ̽ͬ̇͌͐͢͞a̧̫̟̳͕͍̗̼͙̱̲̬̫̥̩͙̟̦̩͑ͭ̈ͮ̇̿̌ͥ͗̑̐͛͐ͭͬ̇͘y͇͎͓̜̭͕ͤͭͮ̐͛͑́͠ ̖͕͔̣̩̣͕̯̝̟̙̪̣̞̣͍̠͆̾̐͐ͧ͑͌̾̃̏͛ͭ̐̐̋͐͟͡͡ͅs̨͆̔̽ͫ͆̽͒̿̍̐̑̈̈҉̧̛̼̥̝̖͇̥͉̯̹̪̩̭̱̲̼͘ͅt̶̏ͯ̾̅͑͋ͤͫ͐́̿̉̔ͤ̿̽̆̓͜҉̥͎̤̤̣̲̗͙͔̦̗͉̫͍̺̖̖͔̳a̷̶̅̄̏̌͆̓ͨͮ͆̀̋͆ͦͥͩͤ̄̌҉̛͙̲̲̻̤̲͎̙͙̞͉̱̫̺̬̼͚̣ͅy̥̖͉̫̫̯̪̳̜̏͐̑ͬͭ͒ͭ̊̈͋͊̐̂͡͝ ̷̺̘̳̫́̓͐ͦͨ̊́̓̊̾ͩ̓̽͗ͪ̀́͞s̨̛̟̱͙͔̼͙̩͚͖̭̜̝͈̦͕̜͗͗ͣ̆̈̆̄ͣͪ́͟͝ͅt̩͖̹͎̫͇͌̆ͦ͒̐͐̇͑̊͊̈͌̈́̕ͅã̶̴̧ͥ̇̽ͩͣ̓̇͗̓̔͗͊̆̚͏̦̗̞̬̗̗̗̳̤̦̫ͅẙ̿̃͂ͬͩ͗̍̈̓͢҉̼͙̯͙̼͈̤̮̦̯͈̹̀̕͢ ̊̐̈́̊̂ͣ͐̑̇̓́̂̒͒̎̒͏̡̖͉͚̩̫̝̲̳̯̭͙̩̩̗͓͓ś̷̵̵̺̦͉͓̹͎͇͍͕̤͐͒ͮͪ̀ͮ͛ͯ̊̋͗̊̑͘͝t̵̨̰̩̬̞̜̥̥̞̫͈̞͇͇̩͉͍̙̝̘̆͆͐ͭ͊̊͋̐̌̈͢a̵̛̮̦̟̮ͧ̄̓ͪ̾͑̄ͪ̎̿͜y̸̢̘̬͚͚̩̙̓̈̈͋ ̧̡̱͉̻̜͙̦̩̖̝͙̮̈́͋̇̋̿͆͆̔ͬͣͩ̍̓́ͤ̕ͅs̸͎̥̬̦̠̠̻̰͎̤̝̝̝̣̠̿̄͊̎̓ͦ̓̂͐̌̈ͬ́͘t̶̡͉͍̭͈̭̣̲̗̗ͥͩ̏̔͂̅ͮ̑͠͞a̶̶̞̺̰̘͓̦̳͇̼̭̱̰̤̗̬͒͆͗ͬͯ̏̈̑͗ͤͦ̌̈͂͛ͥ̐͘͞y̧̡̞̲̘̗̦̣̖̩̙̰̙͚̦̱̜̪͕ͥ̊̈ͧ̋ͪ̐̽̆ͪͬ́̾ͮ̏͋̀̚͜͜ ̴̡̦̜͔̭͉̟̱͈͉͈̯͎̠͚̓̊ͫͩ͗́̓ͩͬs̷̴̡̼̮̦̥̣͇͉͎̰̹̼̟̣̦̲̦̰̆͆ͧ̄ͧ͐͜ͅt̛̞̥̙̺͉̲̥̰̤̣̪̻̭͇̭̙̤̗ͩͬ̄̐ͨ̔̎͢͠͞a̷̙̘͍̖̩̟̯̼͇̭̥̲͒̈́ͥ̓̊ͨͤ̂͜͢͡ͅy̢̨̛̫̱͕̙͇͈̬̻̣̜̱̤͗́ͨ̽̂͑͒́́̎̀͘ ̴̜͙̱̲̤͕̣̞͈̩͔͐̽̇ͨ̒̕͢s̵̡̨̡̩̱͕̱̤̞̥̙̎͗̈̚͞ṯ̴͖͉͕̣ͤ̽ͣ̈̒̕͟͞a̫̝͕̜̤̺͇̻̲͍̟͌̏͌̋̊ͯ͊̎̒ͫ͆͗ͤ͜͢ỵ͈̳̤̬͎̞̦̼̲̞̭̯̦̖̞͇͕̞ͭ̽͆ͯ̈́̃ͩͣ́͛ͧ͂͠ ̸͖̜͎̦͉̘͈̮̼̝̪̙̜̩̌̋̆ͤ͂ͭ̔̾ͭ͘͠͠ͅś̷̰̣̼̫̩̗͖͚̹̟͖̠̠͇̗̜̱͗̅ͧͬ͒ͩͪ̂͢ţ̺̻͎̩̳͉͎̤̜̬̟͈͖̤̅̓ͤ̀̈ͥ͛ͤ̅ͨ̆̀à̴̡͈̦̰̩͓̱̖̻̝̙͓͎͙͌̔ͣ̋̈͛̇̈́̾ͤ͐̏̿̏̆̕͟y̨̯̘͇̫͔͈̖̳̆͛̓ͦ̏̒͗͆̂̑̊ͬ͝ ̌͒ͯ͋̐ͬ͏̷̖̭̮̮̖̲̟̣͓̭̮͓̪̝͚̙̪ͅͅs̶̡̱̖̺̰̜̺̖̦͓͚̺͔͔̲̈́ͩ͌ͯ͒͑͒̆ͧ͠͡t̒̈́ͭ͗̊͑ͨ̏̌ͧ̀̂͂̒̚̚̚͏̧͡͏̗̤͕̙̩̦̠͞a̴̢̧̘͖͔̰̳̲̹̗̭̖̥ͥ̔̓́́̚y͚̞̮̲̮̖̝̥͕̑ͧ͒̉͡͡ ̵́ͬ͊̒́̄̓͡͏͕͉̞̝̩͍̺̼̖̖͞s̖͉̲̟̘̲͖̫̪̤̳̤̃̀ͦͩͨ̉ͧ̌ͨͫ͢͝͝t̷̡̻̤̦̻̻͔̩͈̰͙͚̙̅̆͑̐̂ͮ͗̈͜͝͝ą̵̛͙͇͈̘̦̦͓͋͑́͊̿ͪ͛ͤ̾͂̐̍̏̈̐̔͑͊ͦy̡̡͇͚͕̮̭̝̹̼̤̖̦͈̭͍̲̩ͥ̔̿̎͗̏̋̈ͬ͌ͮ̈́̉̉̏ ̑͂̐̉̊ͨ̍ͤ͒ͩ͗ͫ̃͌́̆ͭ͘͢͜҉̨̤̯͓͎͈̞͍̜̮͉͚̰̜̜̤̰sͩͨ̄͐͊̍ͬ̈̌̉̎̋̽̂̉̅͏̷̼̹̭͈̫̞̪́͟͟ṱ̷͍̪̜̣̺̹̠̝͓̯͔̼͕̄̃́̚ạ̛͈͈͙̲͖ͧͣ̌ͭ͟͡͡ẙ̵̷̨͇̰̝̣͔̣̊̒̅͌͂̿͗͆̎̄̓̊͜͞ ̴̩͍̼͍̱̳̟͙̞̂̈̿͊͐̍̐͊̀̕s̷̡͇̰̳̣̲̐͐̍̊ͭ̐̏͟ť̨̨̡̠͚̝͙̲̙̤̱̖̰̭̠͎͔̗̮̳͎͙̈́̍͌̄̽͌́̀͌̔̑̆͐͛̎ͣ͟ä̶͕͖̰̗̩͈͎̞̞ͨ̈́̀̏͂ͨ́͒̈́͘ẙ͓̺̲͖͕͕̩̯ͩͭ̃̊̆̀̈́̏̌̔͐͟͜ ̵͓̠͓͚̳͈̲͙̳̫̹̺ͦ̆̅̉̅͂͒ͣ̂̀̂̎̔̀̚͘͠s̵̛͙̖̻̝̤̳̻̦̺͖̯̲̹̜̻̤̪͂̐́̆͑́ͬ̍̌ͧ̈́̃͊̿͝ṫ͛̆͊̈ͧ̽͛̊̂͆̐͏̵̢̮͕̭̫̖̤̗̯̞̲͓̭̺̲̱̫͍̀ͅa̢̫͎͓̹̭̼͚̼̲̪͚ͬ͊ͥ́ͭ̍ͯ̆̑̓ͤͤͯ̉̀͟͠͠y̙̙͇͚̫ͬ͆͑̃̈ͣ̾̔̇̋̋̏͌ͣͧͬͯ̍͜͝ ̨̧̦̮̠̳̦̣͓̪̣̤̦̖̠̹ͧ͋̋͌͘͟s̡͆ͬ̉͗̽ͨ́̔̎͌̄̍̈́̐͘҉͖̥̱̘̰̬̟̲̦̣́ṭ͔̫̮̞̘͈͕͈̬̑ͥͩ͑͐̀͟a̧̧͚̪͙̗̥͚̩̭͕̯͌̈́ͤ͆ͩ̂͐ͫͥ͛̕ͅy̨̧͖͎̩͙̫̜͔͈̥̬̏̊̀ͯ͐̏̌ͤ̋̊̽̚ ̶͙̤̻̳͇̞͙̤̼͙̰̖̮͇̼̗̄̓̅̈́̃̂̽̄ͥ̒̍ͯ̎́̀̚̕s̲̬̼̦̩̙̪̤̘͈͍̭ͯ̃͗̌ͮ̆͌̋ͣ̾̽ͪ̀̄̀͠͝͠t̢͇̣̺̩̟͍̼̯̲͎̱ͫ̎̾̈͛̎̑ͧͭ͑͐͂̀̚͟͝a͗̔̓̒ͪͨͤ̉ͤ̔̽ͬ̆̄̇ͪ̽ͪ̉҉̤̮̩͓͔̝̗̦͟yͨͯ̽̎̒́̅ͯ̐͒ͣ̎͗ͣͭ̆ͨ͆̚̕͏̧̳̳̖͇̞̠̳͚̲̞͔͝ ͥ̊̓̈̓ͤͪͣͭ͐̈́̔̚͏̻̖͖̭s̛͙̖͖̲̣͊͆ͧͫͧ͋͒ͫ̉̇͂ͩ̌̅ͮ̊͋ͮ̉̀͜t̨̛̹͎̜̺̞͈̜͓̪̟̓̄͛ͫͫͧ̽̋̑̽͑͑͠ͅa̛͍̤̼̙̲͛͆̽̔̓̇͐ͮ̾ͨ̇́̀͡ẏ̵̡̧̠̱̝̥̯̟͔͚͙̯̰̞͉͆͂ͩ̂ͮ̄ͨ͊͑̈́ͧ̊̅ͣ͡͡ ̴̢́ͫͬ̔͏̯͎̳͖͕̦̟̻̱̦̣̘͕͉̘̖̟͉͡s̴̮̫͇̏̿ͤͯ̎̄́ͬ̊̈ͭ̍͛́͞͡t̵̥̻̣̬̫̻͈͔̘̤̖̙̰ͥ̈́̅̋́̔̉ͪ͑̽͆̑͗̃̐ͭ̀́̚͟ḁ̶̰̰̼͇͙̜̠̥̞̞̙̯͑̓ͪͮͬ̎͆̋́ͤ͋ͦ̓̄͋͌͜y̸̧̍̽͊̑ͭͣ̃̽̔͂ͣ̅͏̖̼̪̲͈̝̗̱̯̙̭̩̫̗͕͉͙̱͘ ͛͋ͨ͊҉̘͇̟̣͓͕͍̝͈͙̜̖̝͇̩͕̰̟͈s̡̬͖̳͈͙̝̪̻͎̆̐̈́ͬ̄̃͒̇̌̂̌͊́͡ͅț̷̡̧̛͕̳̫̞͚̳̜́ͦ̂̑̅̉̃ͣͬa̧͈̟̼̙͇̳̜̠̮̺͈͓̺̺̅ͮͨ̽̈̌̈̊̒ͯ̾̀ͣ́ŷ̢̢͈̞͈̹̻͎̱̺͙̞ͧ͋̑̓̄̊̄̎͑͋͜͡͞ ̲̼͙̜͇̩̙͚̞ͥ͛ͣ̍ͮ̓͐ͤ̇́ͥ͘s̴̨̢̞̪̜̩̭̖̳̗̮̮̙͚̳̽ͦ͂̌̈́̏͛̅͛ͯͬ̈ͪ́̈́̆̄ͤ̈͟t̶̳͚̗̲͇̰͕̘͔̘̮̙̙̪͕͉͈̟̿͒͛̆ͤ̀̚͞͠a̡̧͉͔̮̩͖̯͖͓̳̟ͧͨ̇͑ͦͯ͂͑͑͐̅͗ͭ̈́ͩͣ́̀̚̚̕͝y͓̤͇͉̤̻̮̯̦͆ͦͪ͐̂ͦͣ̊͛̈̓͐̆̔͂̈̑̿͠ ̳͍̣̳̻̙ͨ̈̑́̏̄͒́͢͞s̸̖͍͙̪̳̮̖̯̭̱̯͍̼̼̘̠̹̉̐ͧ͛̍ͬͦ́̆ͬ̄͘͟t̸͒ͭ̈͊̋ͩͩ͒̌͑͐̓̏͡͏̜̯͕̦̠̣ä̧̨͉̖̳͓́͗ͤy̡̡̛̥͍̜̫̱̠͈͓̠̹̗̦̣̼͓͕̞͌̽̅͋̅ͥͮ͞ ̷̦̝̜̌̅̎͛̋̆̂̃̋̎̽̚̚s̨̧͍̘̖͉̫̩̳̻̱̠̯̞̮̺͖̹͖ͣ̓ͯ͂͋̿ͧ̚͜͜ţ̨ͧ̅ͮ̑ͥ̃̾̋͛ͤ̓̑ͣ͆̎ͮ͘͡҉̮̹͖̠̞̯̬̖̩͈̲͖̭̺̫̪̫ͅa̵̶̝̞̟̭̘͙̖̺̳̼̘͆ͩ̊̚͟y̖̣̟͉̟̪̻͙͕̭̙͒̿̃ͪ͑̑͗͋ͬ͞͠ ̷̷̛̱͉̲͕̘̹̜̼̟̤̬̦̜͇͇̩̼̮̏ͭ̀ͬ͢ş̵̢͙̦̳̰̣͎͇̗̟ͥͨͯͩ̆ͦ̈̌͛ͧ̐͒ț̘̮̜̲̭̪̌̄͋͋̇̊̀̑̆̀̚̕͘͜a̵̺̞̩͈̥̫̝̹͕̥̱̰͚̹̹ͩ͋̋͆͐̂͊ͬÿ̷̨̛͈̟͖̳ͧͮ͛̆͂ͮ̇͠ ͉͎̖̪͚͈̥̪ͧ́̓͗̓͋̃̉͑͘s͖̤̝̤̪͍̹̙͖̰͓ͫ̊̃̎̔͠t͚̮͕̪͖ͧ̑͗ͮ͆̈́̓̐͢͞â̢͖͖̣͙̣̫͍͍̩̦̆ͩ͛̑̆ͤ̄̉ͬͧͬ͒͟y̶̧͖͎̟̗̙͇̻͖͖̹̟̯̭ͥ̆ͯ̈́́̈́ͬ̏͌ͩ͂̚̚͘͘͝ͅ ̡̙͖̣̜̤̗̦̫̤̯̹͇̥̄͛̒͋ͪͤ̿ͨ̓̐ͦ̀̓ͥ̌̀͟ͅs̸̷̷̢̘̱͕͙̩ͩ͂͗͠t͌ͨͬ̽ͤ̍̿̔ͭ͊̐ͭ͌̉̑ͥͥ҉̷̞͈̮̲ͅa̵̴̗̹̯̖̻̯̻̞̟̝̤̺͖ͧ́ͣͫ̑͘ͅy̛̛͔̻̱̘͇̫̮̼̺̠͙͙͙ͩ̔̽̅ͭ ̶̨̥͇̗͚̪̗̭̦̠̼̊ͩ͗ͥ̽ͩ͐ͣ̌ͦ̍̂͐̚͟͞s̵̷͖͖͚̜̆͒̆ͧ̎̄ͬͥ̊̔ͤ̎͘͠ͅt̶̤̖̺̦͙̖̮͔̥̺̲̮̜̩͙̦̩̻͂ͮ̂͊̆ͯͣͯͩͣ̊͢ą̷̡̛̣̲͇̭̠̩̖̍͒̇̈͛̾͆ͣ͋͑ͥͩͩyͥͪ̅̂ͣ̽͆ͬͥ̂͒͋ͯ̿̑͏̷̯̙͔̗̩͜ ̵̷̡̩͕̩̣̺̬͓̪̈́̃̊͋̊͊ͪ̇̇͐̈̏͊ͤ̑̎͛s̛͂̐̓̒͗̊͑̏̾ͨ̐̌͟͡҉̲̥͚̺̙̻̳̭̣̣̘͉͈̠͔͚t̝͎̭͎̝̖͔̘̰͍̼͉̹̳͖́͆ͪ̀ͫ̄̊̈͠aͯ̚̚͜͜͠͏͈͎͙̬̦͕y͛̊̏͆̀ͮͨ҉̵̴̼͇͈̺̯̟͎̳̦̳̲̫̻̻̪͍͙̯͘͞ ͆̎ͨ̉ͤͫͪ͂̍̑̽͛҉̨̧̝̜̭̝̜̦͍͖̰̗̩̞̜̻̭͈͞͞s̵̨̲͍̘̬̜̹̗̦̥̙̖̰͈̭̙͖̟̉ͧ̇̍͊ͯ̔ͥ̓̂̌t̅̏̓͊ͯͫ͑̽͜͡҉̭͈͈͈͘ȧ̶̴̬̮̹̟͓̻̘̼̠̠̳̫͕͉͈̾ͭͬ̐̋ͮ̾ͥͩ͐̆͊̔̆͗ͩͅy̴̦͇̲͍͇͓̝̳̠̫̥̦͚͙̫͚̳͖͒̆̔͑̈́͝͠͝ ̵̅̈ͫ͌̄͛͠͝͡͏͕̩͎̤̳͉̟̫̳̱̫͙̖̘s̸̢̺̖̥͉̦͈͍̤̗̟̳̦̞̞̙̳̟̭̑ͭ̐͗̆̂̈̕t̷̵̼̺̬̹̩̹̯̱͉͚͚͎ͩ͂ͣ̋̄̓̃̏̅̄̍͐̽́͛͘͢͠a͔͚̤̲̣̭͋͌ͦ͗̇̎̈ͮ̄̕͠y̠̫̲̰̟͕̫͎͑̇̽̍ͮͩ̒͆̐̑̒̾͐̈́̀ͅ ̠͖̤͙͔͙̬̦̎ͪ̿ͮͪ̓̔̈ͯ͑ͣ̎͊̑̓ͫ̚̕̕s̵̠̤͇̫̳̪̙̱̥̉̃̓̃̀̀͘t̽̿̀̒̈ͣ̽́̑͆̂ͫͯ̓̌ͫ̊͡҉̶̶̠̬̫͚̗̥̙̮̙â̧͐̎ͥͯ͡͏̼̭̯̳̠̣̝̺͖̗͈̖̗͘y̧̡̲̮̭̮̻̣̪̠̺͔ͣ͂ͨ̏ͨ̉̔̾ͥͩ̾̊̆̒͠ ̴̢͓̳̲͇̱̗̠̟͇̺͇̠͇̥̑̒ͮͣ͂ͫ̍̋͆̃͌́ͤ͌̏͞͝s̹͔̲̪̔͋̌ͨ̄͋͒̋̓̓̓̎͊͐͟͜͡t̵̨̢̒͗ͯ̎͑̽ͫͯ͠͏̩̖̦̗͈̥̭̟̲͖͈̦̦͎a̿ͣ͛ͥ͒̌̈͜͠҉͘͏͚̘̯̯̭̯̲̮̟̩̗ͅy̸̹͇̗͕̋ͯͮ̉̅̽ͨ̃̾͋́ ̸̨̨̪̝̦͙̭̪̝̤̬̥͇̱͎̗̪͑̊ͨ́ͥ̚ͅs̶̨̟̥̻̻̟̞͚̘̳̰̜̄̒̾ͩ̂͗ͬ͛́͟t̖͙̺̟ͪͨ͗̕ą̷̷̡̠̻̬̙͕̗͇̟ͨͧ̍͑͋̄̽̅̊̓ͬ͞y̌ͪ̽̑̅̋ͤ̏̉̄҉̨҉̜̙̝̠͍̜̠̮͓͓̯̮̀ ͨ̂͗̿̽̍̒̋͂ͮ́ͪ̏ͪ̅ͧ͏̷̬͖̼͉͖̹̱͕̝̀͞ͅͅs̨̧̬̩̯̣͎̮̮̗̱̮̞̲̘̱̍̐ͥ̌̊̍̕͝t̷̨͔͓̜̬̖̖̺̲̦̠̦ͩ͂̇ͩ̊̾̒̀̉̇̾ͨ̍̍͌̆͟aͩ̏̂͂̑͆͆͛̓̍̔́͏͓̮͓͙̙̥͙̯̘̗̳̳̯͈͙̳̜y̢̝͎̰̖̩̺͚̟̙̥̳̱ͭ̈ͧ̃ͭͥ͟͠ͅ ̨̭͖̪͓͓̮̖͔̣̜̟̙̩͐ͭ̓ͣ͒͐͌ͤ͡s̶̪̖̰͚̼̱̲͕̯̪̗͉̬͉͙̻͇̺̐ͮ̑̌̑ͬ̏̚͜͡t̸̵͙̤̖͖̖͍̦̱̦͔͓̏̒͆̏̔̅ͩ̂̚a̶̷͓̳̹͈̖ͬ͒͌̋͑̎ͧͥ́ͪ̚ͅy̬̬̳̝̥̺̩̗͇̱̖̗̣͖̳̬̠̓ͣ͐ͧ̋̾̅͑ͯͩ́͠͡ ̩͔̰̪̥͉̠̼̱̙͕̦̗̘̙͌̉͆̍̎ͪ͊̉̇̏́̀͡ͅͅs̨ͯ̈̃̃̆ͯ͘҉̟͍̦̯̣̥̥̗̟







[[&gt;unlock door|door unlocked]]</tw-passagedata><tw-passagedata pid="19" name="door unlocked" tags="" position="752,1697" size="100,100">The terminal starts sparking...

you back away from the terminal.



The terminal has a weird face appearing on it:
&lt;div class = &quot;terminalface&quot;&gt;
█████──▄▀▀▀▀▀▀▀▄────▄▀▀▀▀▀▀▀▄──███
█████────▄▄▄▄▄────────▄▄▄▄▄────███
█████──▄▀───▄██▄────▄▀───▄██▄──███
█████──▀▄───▀▀█▀────▀▄───▀▀█▀──███
█▀──█────▀▀▀▀▀────────▀▀▀▀▀────███
█───█──────────────────────────█─█
█────────────────────▄───────────█
█───────────▄▀───
				YOU&#39;RE
				SCREWED ────▀▄─────────█
▀█─▄█───────▀▄─▀██──██───────────█
─▀██────────────────────────────██
──██────▄▀▀──────█─█──────▀▀▄──██─
───█──────█▀▄────▀─▀────▄▀█────█──
───█──────▀──▀▀▄▄▄▄▄▄▄▀▀──▀────█──
───▀█─────────────────────────█▀──
────▀█───────────────────────█▀───
─────▀█─────────────────────█▀────
&lt;/div&gt;

You looked at the terminal, you shudder to yourself.


You look to your left, suddenly remembering the door you just unlocked.


[[Proceed to the unlocked door|the room]]</tw-passagedata><tw-passagedata pid="20" name="the room" tags="" position="746,1840" size="100,100">You look around the room, 

There is blood, there are flies. The room makes you feel...uneasy.


You see a [[dead body|inspect dead body]]

You see a [[window|inspect window]]

You see a [[door|inspect door]]</tw-passagedata><tw-passagedata pid="21" name="inspect dead body" tags="" position="732,1988" size="100,100">You inspect the dead body.


It is a man, he looks like he was killed with force.

Except, there are no bullet wounds...no marks, there isn&#39;t anything?

How did this man die?

The man is holding a [[key|dead man key]].</tw-passagedata><tw-passagedata pid="22" name="inspect window" tags="" position="880,1991" size="100,100">You go up to the window. It&#39;s blocked with pieces of- is that wood? Metal, maybe?

However one piece is missing, you can see light through the window.


Light.


You turn around and [[look around the room|the room]]</tw-passagedata><tw-passagedata pid="23" name="inspect door" tags="" position="575,1996" size="100,100">The door is locked, you can&#39;t open it without a key.



Maybe [[look around the room?|the room]]</tw-passagedata><tw-passagedata pid="24" name="dead man key" tags="" position="725,2136" size="100,100">You pick up the key, it can be used to unlock something. 


[[You look around the room|the room unlocked]]</tw-passagedata><tw-passagedata pid="25" name="the room unlocked" tags="" position="711,2286" size="100,100">You look around the room, 

There is blood, there are flies. The room makes you feel...uneasy.


You see a [[window|inspect window unlocked]]

You see a [[door|inspect door unlocked]]</tw-passagedata><tw-passagedata pid="26" name="inspect door unlocked" tags="" position="710,2436" size="100,100">You open the door.

You look around the room:
Some water dripping

&lt;div class = &quot;vent&quot;&gt;A [[vent|vent passcode]]&lt;/div&gt;

More [[dead bodies|inspect bodies]]

You walk forward when suddenly you stop.
There is a giant crater in the ground, and on the other side is the door.


How are you going to get past the crater?

You see a [[terminal|terminal pass needed]]



</tw-passagedata><tw-passagedata pid="27" name="inspect window unlocked" tags="" position="885,2128" size="100,100">You go up to the window. It&#39;s blocked with pieces of- is that wood? Metal, maybe?

However one piece is missing, you can see light through the window.


Light.


You turn around and [[look around the room|the room unlocked]]</tw-passagedata><tw-passagedata pid="28" name="locked door next room unlocked" tags="" position="298,538" size="100,100">The door is locked.


[[Look around the room|next room unlocked]]</tw-passagedata><tw-passagedata pid="29" name="vent passcode" tags="" position="895,2436" size="100,100">Aha! The hidden vent.

You see something glimmering inside the vent, maybe that will be useful.

How are you going to open the vent? :

[[Open vent with quickly, but loudly.|Vent force]]

[[Open vent slowly, but quietly.|Vent quiet]]</tw-passagedata><tw-passagedata pid="30" name="terminal pass needed" tags="terminal" position="708,2586" size="100,100">TERMINAL LOCKED.

PASSCODE NEEDED.



You need a passcode, try [[looking around the room|inspect door unlocked]]</tw-passagedata><tw-passagedata pid="31" name="Vent force" tags="" position="845,2669" size="100,100">You open the vent with brute force, the vent breaking echos throughout the room.


&lt;div class = &quot;monster&quot;&gt; HE HEARS YOU &lt;/div&gt;


You find what was glimmering, a tape.


Maybe a passcode?


You [[look around the room|inspect door unlocked terminal unlocked loud]]</tw-passagedata><tw-passagedata pid="32" name="Vent quiet" tags="" position="1036,2664" size="100,100">You can not open the vent quietly, you don&#39;t have any tool to do so.


Maybe try [[looking around the room|inspect door unlocked]]

or

[[Opening the vent with force?|Vent force]]</tw-passagedata><tw-passagedata pid="33" name="inspect bodies" tags="" position="490,2441" size="100,100">There are multiple bodies, stacked upon each other.

All died in the same manner that the other dead man did.

With force...

but no marks.


One body is carrying a [[screwdriver|screwdriver]].
</tw-passagedata><tw-passagedata pid="34" name="screwdriver" tags="" position="490,2591" size="100,100">You pick up the screwdriver, may be useful.


[[Look around the room|inspect door unlocked screw]]</tw-passagedata><tw-passagedata pid="35" name="inspect door unlocked screw" tags="" position="301,2723" size="100,100">You open the door.

You look around the room:
Some water dripping

&lt;div class = &quot;vent&quot;&gt;A [[vent|vent passcode screw]]&lt;/div&gt;

You walk forward when suddenly you stop.
There is a giant crater in the ground, and on the other side is the door.


How are you going to get past the crater?

You see a [[terminal|terminal pass needed screw]]
</tw-passagedata><tw-passagedata pid="36" name="vent passcode screw" tags="" position="226,2876" size="100,100">Aha! The hidden vent.

You see something glimmering inside the vent, maybe that will be useful.

How are you going to open the vent? :

[[Open vent with quickly, but loudly.|Vent force]]

[[Open vent slowly, but quietly.|Vent quiet screw]]</tw-passagedata><tw-passagedata pid="37" name="terminal pass needed screw" tags="" position="104,2736" size="100,100">TERMINAL LOCKED.

PASSCODE NEEDED.



You need a passcode, try [[looking around the room|inspect door unlocked screw]]</tw-passagedata><tw-passagedata pid="38" name="Vent quiet screw" tags="" position="228,3026" size="100,100">You open the vent quietly with the screwdriver.

You see a glimmering tape looking thing.


Maybe a passcode?


You [[look around the room|inspect door unlocked terminal unlocked quiet]]</tw-passagedata><tw-passagedata pid="39" name="inspect door unlocked terminal unlocked loud" tags="" position="601,2881" size="100,100">You look around the room, you see a term-


wait...



he heard you



&lt;div class = &quot;monster&quot;&gt; HE HEARD YOU



HE IS COMING

YOU FOOL, WHY DID YOU MAKE NOISE??

HE IS COMING NOW

RUN


RUN


RUN


&lt;/div&gt;


[[Run.|Run]]</tw-passagedata><tw-passagedata pid="40" name="inspect door unlocked terminal unlocked quiet" tags="" position="228,3176" size="100,100">You look around the room, and you see a terminal.

Ah, the tape that you picked up is a passcode.


You can use it on the [[terminal|terminal finally unlocked]]</tw-passagedata><tw-passagedata pid="41" name="Run" tags="" position="603,3024.3333333333335" size="100,100"></tw-passagedata><tw-passagedata pid="42" name="terminal finally unlocked" tags="terminal" position="228,3326" size="100,100">WELCOME,

PASSWORD NEEDED


[[Insert the tape|Terminal unlocked 1]]</tw-passagedata><tw-passagedata pid="43" name="Terminal unlocked 1" tags="terminal" position="226,3476" size="100,100">
Booting...


1
23
56
98
100
-------------------------------------------------------------------------
WELCOME admin,


THIS IS ALL I HAVE DONE SO FAR!


THANKS FOR BETA TESTING!
</tw-passagedata><tw-passagedata pid="44" name="Beginning unlocked" tags="" position="779,346" size="100,100">You look around the room,

There is a [[door on the left|next room unlocked]]

and

The [[door on the right|door right]]</tw-passagedata><tw-passagedata pid="45" name="door right" tags="" position="959,345.99999999999994" size="100,100">You&#39;ve already been here...

You look around the room, a bookshelf with no books. And a desk, with nothing on it.


[[You look around the room further.|Beginning unlocked]]
</tw-passagedata></tw-storydata>